{% extends 'ProyectoApp/base.html' %}
<!--{% load static %}-->
{% block content %}

<head>         
     {% block title %} <title>Bienvenido, Colegiado</title> {% endblock %}
</head>
    
  <!-- navBar -->
  <div class="full-width navBar">
    <div class="full-width navBar-options">
      <i class="zmdi zmdi-more-vert btn-menu" id="btn-menu"></i>  
      <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
      <div class="mdl-tooltip" for="btn-menu">Mostrar/Ocultar</div>
      <nav class="navBar-options-list">
        <ul class="list-unstyle">
          <li class="btn-Notification" id="notifications">
          </li>
          <li class="btn-exits" id="btn-exits">
            <i class="fa fa-power-off" aria-hidden="true"></i>
            <div class="mdl-tooltip" for="btn-exits">Salir</div>
          </li>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  
  <!-- navLateral -->
  <section class="full-width navLateral">
    <div class="full-width navLateral-bg btn-menu"></div>
    <div class="full-width navLateral-body">
      <div class="full-width navLateral-body-logo text-center tittles">
        <i class="fa fa-user" aria-hidden="true"></i> COLEGIADO
      </div>
      <figure class="full-width" style="height: 77px;">
        <div class="navLateral-body-cl">
          <div class="full-width header-well-icon" style="padding-left: 10px;">
            
            {% if not user_log.foto %}
              <img class="dashboard" src="{% static 'ProyectoApp/img/foto-estandar.jpg' %}"> 
            {% elif user_log.foto %}
              <img class="dashboard" src="{{user_log.foto.url}}">
            {% endif %}
          
          </div>
        </div>
        <figcaption class="navLateral-body-cr hide-on-tablet">
          <span>
            <strong>{{user_log}}</strong><br>
            <strong><small>{{user_log.email}}</small></strong><br>
            <strong><small>Matrícula:</strong>{{user_log.matricula}}</small>
          </span>
        </figcaption>
      </figure>
      <div class="full-width tittles navLateral-body-tittle-menu">
        <i class="fa fa-server" aria-hidden="true"></i><span class="hide-on-tablet">&nbsp; DASHBOARD</span>
      </div>
      
      <nav class="full-width">
        <ul class="full-width list-unstyle menu-principal">
          
          <li class="full-width divider-menu-h"></li>
          <li class="full-width">
            <a href="{% url 'afiliado-info' user_log %}" class="full-width">
              <div class="navLateral-body-cl">
                <i class="fa fa-inbox" aria-hidden="true"></i>
              </div>
              <div class="navLateral-body-cr hide-on-tablet">
                INFORMACIÓN
              </div>
            </a>
          </li>

          <li class="full-width divider-menu-h"></li>
          <li class="full-width">
            <a href="{% url 'afiliado-dashboard' user_log %}" class="full-width">
              <div class="navLateral-body-cl">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
              </div>
              <div class="navLateral-body-cr hide-on-tablet">
                MI ESTADO
              </div>
            </a>
          </li>

          <li class="full-width divider-menu-h"></li>
            <li class="full-width">
              <a href="#!" class="full-width btn-subMenu">
                <div class="navLateral-body-cl" title="COLEGIADOS">
                  <i class="fa fa-user-o" aria-hidden="true"></i>
                </div>
                <div class="navLateral-body-cr hide-on-tablet">
                  MI HISTORIAL
                </div>
                <span class="zmdi zmdi-chevron-left"></span>
              </a>
            
              <ul class="full-width menu-principal sub-menu-options">
                
                <li class="full-width">
                  
                  <a href="#!" class="full-width btn-subMenu" style="background-color: #95b4ca;">
                    <div class="navLateral-body-cl" title="Aportes {{aporte_actual.aporte_mensual}} Bs.">
                      <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                    <div class="navLateral-body-cr hide-on-tablet">
                      Aportes mensuales de {{aporte_actual.aporte_mensual}} Bs.
                    </div>
                    <span class="zmdi zmdi-chevron-left"></span>
                  </a>

                    <ul class="full-width menu-principal sub-menu-options">
                      
                      <li class="full-width">
                        <a href="{% url 'afiliado-ver-historial' user_log 'AMU' 'TODO' 'None' 'None' %}" class="full-width">
                          <div class="navLateral-body-cl" title="Ver todos">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                          </div>
                          <div class="navLateral-body-cr hide-on-tablet">
                            Todos
                          </div>
                        </a>
                      </li>
                      
                      <li class="full-width">
                        <a href="{% url 'afiliado-ver-historial' user_log 'AMU' 'MES' 'None' 'None' %}" class="full-width">
                          <div class="navLateral-body-cl" title="Ver este mes">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                          </div>
                          <div class="navLateral-body-cr hide-on-tablet">
                            Este mes
                          </div>
                        </a>
                      </li>

                    <!-- PEGAR AQUÍ OTRAS OPCIONES PARA RECAUDADORES -->
                      <li class="full-width">
                        <a href="{% url 'afiliado-fechas' user_log 'AMU' 'FECHAS' %}" class="full-width">
                          <div class="navLateral-body-cl" title="Entre fechas">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </div>
                          <div class="navLateral-body-cr hide-on-tablet">
                            Entre fechas
                          </div>
                        </a>
                      </li>

                    </ul>
                  </li>

                <li class="full-width">
                 <!--- 
                  <a href="#!" class="full-width btn-subMenu" style="background-color: #b7d2e5;">
                    <div class="navLateral-body-cl" title="Aportes de {{aporte_inicial.aporte_mensual}} Bs.">
                      <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                    <div class="navLateral-body-cr hide-on-tablet">
                      Aportes mensuales de {{aporte_inicial.aporte_mensual}} Bs.
                    </div>
                    <span class="zmdi zmdi-chevron-left"></span>
                  </a>
                   --> 

                    <ul class="full-width menu-principal sub-menu-options">
                      
                      <li class="full-width">
                        <a href="{% url 'afiliado-ver-historial' user_log 'AMI' 'TODO' 'None' 'None' %}" class="full-width">
                          <div class="navLateral-body-cl" title="Todos">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                          </div>
                          <div class="navLateral-body-cr hide-on-tablet">
                           Todos
                          </div>
                        </a>
                      </li>
                      
                      <li class="full-width">
                        <a href="{% url 'afiliado-ver-historial' user_log 'AMI' 'MES' 'None' 'None' %}" class="full-width">
                          <div class="navLateral-body-cl" title="Este mes">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                          </div>
                          <div class="navLateral-body-cr hide-on-tablet">
                            Este mes
                          </div>
                        </a>
                      </li>

                    <!-- PEGAR AQUÍ OTRAS OPCIONES PARA RECAUDADORES -->
                      <li class="full-width">
                        <a href="{% url 'afiliado-fechas' user_log 'AMI' 'FECHAS' %}" class="full-width">
                          <div class="navLateral-body-cl" title="Entre fechas">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </div>
                          <div class="navLateral-body-cr hide-on-tablet">
                            Entre fechas
                          </div>
                        </a>
                      </li>

                    </ul>
                  </li>  

              </ul> <!-- CIERRE DEL SUBMENÚ 2 -->
          </li>

          <!-- <li class="full-width divider-menu-h"></li>
          <li class="full-width">
            <a href="{% url 'afiliado-historial' user_log %}" class="full-width">
              <div class="navLateral-body-cl">
                <i class="fa fa-id-card-o" aria-hidden="true"></i>
              </div>
              <div class="navLateral-body-cr hide-on-tablet">
                MI HISTORIAL
              </div>
            </a>
          </li> -->

            <li class="full-width divider-menu-h"></li>
          <li class="full-width">
            <a href="#!" class="full-width btn-subMenu">
              <div class="navLateral-body-cl">
                <i class="fa fa-cog" aria-hidden="true"></i>
              </div>
              <div class="navLateral-body-cr hide-on-tablet">
                MODIFICAR
              </div>
              <span class="zmdi zmdi-chevron-left"></span>
            </a>
            <ul class="full-width menu-principal sub-menu-options">
              
              <li class="full-width">
                <a href="{% url 'afiliado-mod-clave' user_log %}" class="full-width">
                  <div class="navLateral-body-cl">
                    <i class="fa fa-key" aria-hidden="true"></i>
                  </div>
                  <div class="navLateral-body-cr hide-on-tablet">
                    Mi contraseña 
                  </div>
                </a>
              </li> 

              </ul>
            </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  
  </section>
  <!-- pageContent -->
  <section class="full-width pageContent">
    <section class="full-width header-well">
     <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="text-align: center;">
        
          <strong style="color: red"><u>MIS DATOS</u></strong><br>
          <strong>Apellido (P):</strong> {{user_log.apell_pat | upper}} / <strong>Apellido (M):</strong> {{user_log.apell_mat | upper}} / <strong>Nombre:</strong> {{user_log.first_name | upper}} / <strong>C.I.:</strong> {{user_log.ci}}<br>
          <strong>Teléfono:</strong> {{user_log.telefono}} / <strong>Celular:</strong> {{user_log.celular}}<br>
          <strong>Dirección:</strong> {{user_log.direcc | upper}} <br> <br>
          <div>
            <a href="{% url 'afiliado-ver-mi-kardex' user_log.username %}" class="section-btn2 btn btn-default smoothScroll">Ver mi kardex completo</a>
          </div>

      </div>
    </section>
    
    {% block info %}

    {% include 'ProyectoApp/messages.html' %}


    <!-- LISTA DE AFILIADOS -->
     <div class="full-width divider-menu-h"></div>
      <div class="mdl-grid">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="text-align: center; border: 3.5px outset #cca300; border-radius: 15px; text-align: center; background: rgb(2,0,36); background: linear-gradient(-15deg, rgba(145,145,175,1) 0%, rgba(2, 88, 149, 1) 5%, rgba(230, 0, 0, 1) 100%)">
        <!-- ROJO #e60000 rgba(230, 0, 0, 1) -->
        <!-- AZÚL #025895 rgba(2, 88, 149, 1)-->
         <h7 style="text-align: center; color: #ffcc00;"><strong> MI ESTADO </strong></h7>            
      </div>
      <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop" style="overflow-x:auto;">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric" style="text-align: center;">MATRÍCULA</th>
              <th style="text-align: center;">CI</th>
              <th style="text-align: center;">ESTADO</th>
              <th style="text-align: center;">VER DEUDA</th>
            </tr>
          </thead>
          <tbody>
            <tr> 
              
              <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">{{user_log.matricula}}</td>
              <td style="text-align: center;">{{user_log.ci}}</td>
              {% if user_log.estado_usuario == True %}

                <td style="text-align: center;">ACTIVO</td>
              {% elif user_log.estado_usuario == False %}

                <td style="text-align: center;">INACTIVO</td>

              {% endif %}
              <td style="text-align: center;"><a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="{% url 'afiliado-ver-historial' user_log 'AMU' 'TODO' 'None' 'None' %}" title="Ver detalles"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
            </tr>
              
          </tbody>
        </table>

         
    {% endblock %}
    
  </section>

  <!-- SCRIPTS -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
  <script src="{% static 'ProyectoApp/vendor/js/material.min.js' %}" ></script>
  <script src="{% static 'ProyectoApp/vendor/js/sweetalert2.min.js' %}" ></script>
  <script src="{% static 'ProyectoApp/vendor/js/jquery.mCustomScrollbar.concat.min.js' %}" ></script>
  <script src="{% static 'ProyectoApp/vendor/js/main.js' %}" ></script>

  <link rel="stylesheet" href="{% static 'ProyectoApp/vendor/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'ProyectoApp/vendor/css/sweetalert2.css' %}">
  <link rel="stylesheet" href="{% static 'ProyectoApp/vendor/css/material.min.css' %}">
  <link rel="stylesheet" href="{% static 'ProyectoApp/vendor/css/material-design-iconic-font.min.css' %}">
  <link rel="stylesheet" href="{% static 'ProyectoApp/vendor/css/jquery.mCustomScrollbar.css' %}">
  <link rel="stylesheet" href="{% static 'ProyectoApp/vendor/css/main.css' %}">

  <script>
    $(document).ready(function(){
      $('.btn-exits').on('click', function(){
        swal({
          title: '¿Estás seguro (a) de querer salir?',
        text: "Deberá volver a ingresar sus credenciales para acceder a ICAP",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Sí, estoy seguro',
          cancelButtonText: 'Cancelar',
          closeOnConfirm: false
      },
      function(isConfirm) {
          if (isConfirm) {
            window.location="{% url 'logout' %}"; 
          }
      });
      });
    });
  </script>

{% endblock %} 