{% extends 'ProyectoApp/afiliado/afiliado-dashboard.html' %}
<!--{% load static %}-->
{% block info %}

  <!-- LISTA DE AFILIADOS -->
    <div class="full-width divider-menu-h"></div>
    <div class="mdl-grid">
      <h7>MI HISTORIAL</h7>
      <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop" style="overflow-x:auto;">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric" style="text-align: center;">COMPROBANTE</th>
              <th style="text-align: center;">DETALLES</th>
              <th style="text-align: center;">A.M</th>
              <th style="text-align: center;">A.C</th>
              <th style="text-align: center;">A.D</th>
            </tr>
          </thead>
          <tbody>
            <tr> 
              {% for operacion in historial %} 
              <!-- FILAS n -->
              <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">{{operacion.comprobante}}</td>
              <td style="text-align: center;"><a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="#" target="_blank"><i class="zmdi zmdi-more"></i></button></td>
              <td style="text-align: center;">{{operacion.aporte_mensual_afil}}</td>
              <td style="text-align: center;">{{operacion.aporte_certif_afil}}</td>
              <td style="text-align: center;">{{operacion.aporte_dona_afil}}</td>
            </tr>
              {% endfor %}
          </tbody>
        </table>

        <hr class="invis">
          
          <!-- PAGINACIÓN-->
          <div class="pagination-tutorial">
          {% if historial.has_previous %}
            <a class="pagination-tutorial-action" href="?page=1">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            <a class="pagination-tutorial-action" href="?page={{historial.previous_page_number}}">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
          {% endif %}
          {% for num in historial.paginator.page_range %}
            {% if historial.number == num %}
              <span class="pagination-tutorial-number pagination-tutorial-current">{{num}}</span>
            {% elif num > historial.number|add:'-3' and num < historial.number|add:'3' %}
              <a class="pagination-number" href="?page={{num}}">{{num}}</a>
            {% endif %}
          {% endfor %}
          {% if historial.has_next %}
            <a class="pagination-tutorial-action" href="?page={{historial.next_page_number}}">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
            <a class="pagination-tutorial-action" href="?page={{historial.paginator.num_pages}}">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
          {% endif %}
          </div>
          
  </section>
{% endblock %} 