{% extends 'ProyectoApp/afiliado/afiliado-dashboard.html' %}
<!--{% load static %}-->

{% block info %}

    <!-- LISTA DE AFILIADOS -->
    <div class="full-width divider-menu-h"></div>
    <div class="mdl-grid">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="text-align: center; border: 3.5px outset #cca300; border-radius: 15px; text-align: center; background: rgb(2,0,36); background: linear-gradient(-15deg, rgba(145,145,175,1) 0%, rgba(2, 88, 149, 1) 5%, rgba(230, 0, 0, 1) 100%)">
        <!-- ROJO #e60000 rgba(230, 0, 0, 1) -->
        <!-- AZÚL #025895 rgba(2, 88, 149, 1)-->
         <h7 style="text-align: center; color: #ffcc00;"><strong> MI HISTORIAL DE APORTES MENSUALES </strong></h7>            
      </div>
      <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop" style="overflow-x:auto;">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric" style="text-align: center;">DETALLES</th>
              <th style="text-align: center;">N° COMPROBANTE</th>
              <th style="text-align: center;">TALONARIO</th>
              <th style="text-align: center;">RECAUDADOR</th>
              <th style="text-align: center;">FECHA</th>
              <th style="text-align: center;">MONTO</th>
            </tr>
          </thead>
          <tbody>
            <tr> 
              {% for operacion in historial %} 
              <!-- FILAS n -->
              <td style="text-align: center;"><a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="{% url 'afiliado-detalles' user_log operacion.comprobante %}" title="Ver detalles de operación"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
              <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">{{operacion.comprobante}}</td>
              <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">{{operacion.talonario}}</td>
              <td style="text-align: center;">{{operacion.recaudador}}</td>
              <td style="text-align: center;">{{operacion.fecha_pago}}</td>
              <td style="text-align: center;">{{operacion.aporte_mensual_afil.aporte_mensual}}</td>

            </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      
        <hr class="invis">

        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop" >

          <div style="text-align: center; padding-top: 15px;">
            {% if tam == 'AMU' and th == 'TODO' and start_date == 'None' and end_date == 'None' %}

              <div style="text-align: center; padding-top: 15px;">

                <div>
                  <h7> <strong> Facturas emitidas hasta la fecha: {{fact_emitidas}}</h7> </strong>
                </div>

                <div>
                  <h7> <strong> Facturas pagadas por el colegiado: {{fact_pagadas}}</h7> </strong>
                </div>

                <div>
                  {% if fact_pendientes > 1 %}
                    <h7> <strong> <p style="color: red;">Facturas pendientes: {{fact_pendientes}}</p></h7> </strong>

                  {% elif fact_pendientes <= 0 %}
                    <h7> <strong> <p style="color: green;">Facturas pendientes: {{fact_pendientes}}</p></h7> </strong>

                  {% endif %}
                </div>

                <div>
                  <h7> <strong> Deuda: {{deuda}} Bs.</h7> </strong>
                </div>

                <br>

                <div class="btn-group-vertical" role="group" aria-label="...">
                    <li style="list-style:none;">
                        <div class="btn-group" role="group" aria-label="...">
                          
                          <div>
                            <a href="{% url 'afiliado-exp-historial' user_log 'AMU' 'TODO' 'None' 'None' %}" class="section-btn2 btn btn-default smoothScroll"> IMPRIMIR HISTORIAL <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                          </div>

                        </div>
                    </li>
                </div>

              </div>

            {% elif tam == 'AMI' and th == 'TODO' and start_date == 'None' and end_date == 'None' %}

              <div style="text-align: center; padding-top: 15px;">

                <div>
                  <h7> <strong> Facturas emitidas hasta la fecha: {{fact_emitidas}}</h7> </strong>
                </div>

                <div>
                  <h7> <strong> Facturas pagadas por el colegiado: {{cant_aportes}}</h7> </strong>
                </div>

                <div>
                  {% if fact_pendientes > 1 %}
                    <h7> <strong> <p style="color: red;">Facturas pendientes: {{fact_pendientes}}</p></h7> </strong>

                  {% elif fact_pendientes <= 0 %}
                    <h7> <strong> <p style="color: green;">Facturas pendientes: {{fact_pendientes}}</p></h7> </strong>

                  {% endif %}
                </div>

                <div>
                  <h7> <strong> Deuda: {{deuda}} Bs.</h7> </strong>
                </div>

                <br>

                <div class="btn-group-vertical" role="group" aria-label="...">
                    <li style="list-style:none;">
                        <div class="btn-group" role="group" aria-label="...">
                          
                          <div>
                            <a href="{% url 'afiliado-exp-historial' user_log 'AMI' 'TODO' 'None' 'None' %}" class="section-btn2 btn btn-default smoothScroll"> IMPRIMIR HISTORIAL <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                          </div>

                        </div>
                    </li>
                </div>

              </div>

            {% elif tam == 'AMU' and th == 'MES' and start_date == 'None' and end_date == 'None' %}

              <div style="text-align: center; padding-top: 15px;">

                <div>
                  <h7> <strong> Facturas emitidas hasta la fecha: {{fact_emitidas}}</h7> </strong>
                </div>

                <div>
                  <h7> <strong> Facturas pagadas por el colegiado: {{fact_pagadas}}</h7> </strong>
                </div>

                <div>
                  {% if fact_pendientes > 1 %}
                    <h7> <strong> <p style="color: red;">Facturas pendientes: {{fact_pendientes}}</p></h7> </strong>

                  {% elif fact_pendientes <= 0 %}
                    <h7> <strong> <p style="color: green;">Facturas pendientes: {{fact_pendientes}}</p></h7> </strong>

                  {% endif %}
                </div>

                <div>
                  <h7> <strong> Deuda: {{deuda}} Bs.</h7> </strong>
                </div>

                <br>

              <div style="text-align: center; padding-top: 15px;">

                <div class="btn-group-vertical" role="group" aria-label="...">
                    <li style="list-style:none;">
                        <div class="btn-group" role="group" aria-label="...">
                          
                          <div>
                            <a href="{% url 'afiliado-exp-historial' user_log 'AMU' 'MES' 'None' 'None' %}" class="section-btn2 btn btn-default smoothScroll"> IMPRIMIR HISTORIAL <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                          </div>

                        </div>
                    </li>
                </div>

              </div>

            {% elif tam == 'AMI' and th == 'MES' and start_date == 'None' and end_date == 'None' %}

              <div style="text-align: center; padding-top: 15px;">

                <div>
                  <h7> <strong> Facturas emitidas hasta la fecha: {{fact_emitidas}}</h7> </strong>
                </div>

                <div>
                  <h7> <strong> Facturas pagadas por el colegiado: {{cant_aportes}}</h7> </strong>
                </div>

                <div>
                  {% if fact_pendientes > 1 %}
                    <h7> <strong> <p style="color: red;">Facturas pendientes: {{fact_pendientes}}</p></h7> </strong>

                  {% elif fact_pendientes <= 0 %}
                    <h7> <strong> <p style="color: green;">Facturas pendientes: {{fact_pendientes}}</p></h7> </strong>

                  {% endif %}
                </div>

                <div>
                  <h7> <strong> Deuda: {{deuda}} Bs.</h7> </strong>
                </div>

                <br>

                <div class="btn-group-vertical" role="group" aria-label="...">
                    <li style="list-style:none;">
                        <div class="btn-group" role="group" aria-label="...">
                          
                          <div>
                            <a href="{% url 'afiliado-exp-historial' user_log 'AMI' 'MES' 'None' 'None' %}" class="section-btn2 btn btn-default smoothScroll"> IMPRIMIR HISTORIAL <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                          </div>

                        </div>
                    </li>
                </div>

              </div>

            {% elif tam == 'AMU' and th == 'FECHAS' and start_date != 'None' and end_date != 'None' %}

              <div style="text-align: center; padding-top: 15px;">

                <div>
                  <h7> <strong> Facturas emitidas hasta la fecha: {{fact_emitidas}}</h7> </strong>
                </div>

                <div>
                  <h7> <strong> Facturas pagadas por el colegiado: {{fact_pagadas}}</h7> </strong>
                </div>

                <div>
                  {% if fact_pendientes > 1 %}
                    <h7> <strong> <p style="color: red;">Facturas pendientes: {{fact_pendientes}}</p></h7> </strong>

                  {% elif fact_pendientes <= 0 %}
                    <h7> <strong> <p style="color: green;">Facturas pendientes: {{fact_pendientes}}</p></h7> </strong>

                  {% endif %}
                </div>

                <div>
                  <h7> <strong> Deuda: {{deuda}} Bs.</h7> </strong>
                </div>

                <br>

              <div style="text-align: center; padding-top: 15px;">

                <div class="btn-group-vertical" role="group" aria-label="...">
                    <li style="list-style:none;">
                        <div class="btn-group" role="group" aria-label="...">
                          
                          <div>
                            <a href="{% url 'afiliado-exp-historial' user_log 'AMU' 'FECHAS' start_date end_date %}" class="section-btn2 btn btn-default smoothScroll"> IMPRIMIR HISTORIAL <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                          </div>

                        </div>
                    </li>
                </div>

              </div>

            {% elif tam == 'AMI' and th == 'FECHAS' and start_date != 'None' and end_date != 'None' %}

              <div style="text-align: center; padding-top: 15px;">

                <div>
                  <h7> <strong> Facturas emitidas hasta la fecha: {{fact_emitidas}}</h7> </strong>
                </div>

                <div>
                  <h7> <strong> Facturas pagadas por el colegiado: {{cant_aportes}}</h7> </strong>
                </div>

                <div>
                  {% if fact_pendientes > 1 %}
                    <h7> <strong> <p style="color: red;">Facturas pendientes: {{fact_pendientes}}</p></h7> </strong>

                  {% elif fact_pendientes <= 0 %}
                    <h7> <strong> <p style="color: green;">Facturas pendientes: {{fact_pendientes}}</p></h7> </strong>

                  {% endif %}
                </div>

                <div>
                  <h7> <strong> Deuda: {{deuda}} Bs.</h7> </strong>
                </div>

                <br>
                
                <div class="btn-group-vertical" role="group" aria-label="...">
                    <li style="list-style:none;">
                        <div class="btn-group" role="group" aria-label="...">
                          
                          <div>
                            <a href="{% url 'afiliado-exp-historial' user_log 'AMI' 'FECHAS' start_date end_date %}" class="section-btn2 btn btn-default smoothScroll"> IMPRIMIR HISTORIAL <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                          </div>

                        </div>
                    </li>
                </div>

              </div>

            {% endif %}
          
          <br>

          <!-- PAGINACIÓN-->
          <div class="pagination-tutorial">
          {% if historial.has_previous %}
            <a class="pagination-tutorial-action" href="?page=1">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            <a class="pagination-tutorial-action" href="?page={{historial.previous_page_number}}">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
          {% endif %}
          {% for num in historial.paginator.page_range %}
            {% if historial.number == num %}
              <span class="pagination-tutorial-number pagination-tutorial-current">{{num}}</span>
            {% elif num > historial.number|add:'-3' and num < historial.number|add:'3' %}
              <a class="pagination-number" href="?page={{num}}">{{num}}</a>
            {% endif %}
          {% endfor %}
          {% if historial.has_next %}
            <a class="pagination-tutorial-action" href="?page={{historial.next_page_number}}">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
            <a class="pagination-tutorial-action" href="?page={{historial.paginator.num_pages}}">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
          {% endif %}
          </div>
         
        </div>

{% endblock %}
    
