{% extends 'ProyectoApp/base.html' %}

<head>         
     {% block title %} <title>ProyectoApp - Colegiado</title> {% endblock %}
</head>
          
{% block content %}

     <body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
          </div>
     </section>

     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="#" class="navbar-brand">Proyecto</a>
               </div>

               <!-- MENU LINKS -->
               <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'logout' %}"> Salir </a></li>
               </ul>
               
          </div>
     </section>

     <!-- DATOS -->
     <section id="datos">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2> Bienvenido seas, {{user_log.first_name | upper}}. Usted tiene el rol de Colegiado. <small> última vez que ingresaste a ICAP: {{user_log.last_login}} </small></h2>
                         </div>
                    </div>

                    <div class="container"> 
                         <a href="{% url 'afiliado-dashboard' user_log %}"> Entrar </a>
                    </div>
               </div>
          </div>
     </section>

<!-- FOOTER -->
     <footer id="footer">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Nuestra sede</h2>
                              </div>
                              <address>
                                   <p>Av. Arce, La Paz, Bolivia,<br> Integer nisl dui, ABC 12000</p>
                              </address>

                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>

                              <div class="copyright-text"> 
                                   <p>Copyright &copy; 2021 Proyecto</p>
                                   
                                   <p>Diseñado por: German Varela</p>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Información de contacto</h2>
                              </div>
                              <address>
                                   <p>+59 179431676, +59 179431676</p>
                                   <p><a href="#">danielmiguel_@hotmail.com</a></p>
                              </address>

                              <div class="footer_menu">
                                   <h2>IMPORTANTE</h2>
                                   <ul>
                                        <li><a href="#">Carreras</a></li>
                                        <li><a href="#">Investigadores</a></li>
                                        <li><a href="#">Términos y Condiciones</a></li>
                                        <li><a href="#">Política de Privacidad</a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="footer-info newsletter-form">
                              <div class="section-title">
                                   <h2>Suscríbete para recibir notificaciones</h2>
                              </div>
                              <div>
                                   <div class="form-group">
                                        <form action="#" method="get">
                                             <input type="email" class="form-control" placeholder="Ingresa tu email" name="email" id="email" required="">
                                             <input type="submit" class="form-control" name="submit" id="form-submit" value="Enviar">
                                        </form>
                                        <span><sup>*</sup>Por favor, no marque los correos como span</span>
                                   </div>
                              </div>
                         </div>
                    </div>
                    
               </div>
          </div>
     </footer>

{% endblock %} 