
<h1> N° COMPROBANTE: {{comprobante}} </h1>


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		{% load static %}
		<title>COMPROBANTE DE PAGO POR {{etiqueta | upper}}</title>
		<style type="text/css">
			body {
				font-weight: 200;
				font-size: 14px;
			}

			.header {
				font-size: 20px;
				font-weight: 100;
				text-align: center;
				color: #007cae;
			}

			.title {
				font-size: 22px;
				font-weight: 100;
				padding: 10px 20px 0px 20px;
			}

			.title span {
				color: #007cae;
			}

			.details {
				padding: 10px 20px 0px 20px;
				text-align: left !important;
			}

			.hrItem {
				border: none;
				height: 1px;
				color: #333;
				background-color: #fff;
			}

		</style>
	</head>

	<body>
		<div class="wrapper">
			<div class="header">
				
				<img src="data:image/png;base64, /9j/4AAQSkZJRgABAQEBLAEsAAD//gATQ3JlYXRlZCB3aXRoIEdJTVD/4gKwSUNDX1BST0ZJTEUA
				AQEAAAKgbGNtcwQwAABtbnRyUkdCIFhZWiAH5QACAAoADwACADlhY3NwTVNGVAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA9tYAAQAAAADTLWxjbXMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAA1kZXNjAAABIAAAAEBjcHJ0AAABYAAAADZ3dHB0AAABmAAAABRj
				aGFkAAABrAAAACxyWFlaAAAB2AAAABRiWFlaAAAB7AAAABRnWFlaAAACAAAAABRyVFJDAAACFAAA
				ACBnVFJDAAACFAAAACBiVFJDAAACFAAAACBjaHJtAAACNAAAACRkbW5kAAACWAAAACRkbWRkAAAC
				fAAAACRtbHVjAAAAAAAAAAEAAAAMZW5VUwAAACQAAAAcAEcASQBNAFAAIABiAHUAaQBsAHQALQBp
				AG4AIABzAFIARwBCbWx1YwAAAAAAAAABAAAADGVuVVMAAAAaAAAAHABQAHUAYgBsAGkAYwAgAEQA
				bwBtAGEAaQBuAABYWVogAAAAAAAA9tYAAQAAAADTLXNmMzIAAAAAAAEMQgAABd7///MlAAAHkwAA
				/ZD///uh///9ogAAA9wAAMBuWFlaIAAAAAAAAG+gAAA49QAAA5BYWVogAAAAAAAAJJ8AAA+EAAC2
				xFhZWiAAAAAAAABilwAAt4cAABjZcGFyYQAAAAAAAwAAAAJmZgAA8qcAAA1ZAAAT0AAACltjaHJt
				AAAAAAADAAAAAKPXAABUfAAATM0AAJmaAAAmZwAAD1xtbHVjAAAAAAAAAAEAAAAMZW5VUwAAAAgA
				AAAcAEcASQBNAFBtbHVjAAAAAAAAAAEAAAAMZW5VUwAAAAgAAAAcAHMAUgBHAEL/2wBDAAMCAgMC
				AgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsKCwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIU
				FRT/2wBDAQMEBAUEBQkFBQkUDQsNFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQU
				FBQUFBQUFBQUFBQUFBT/wgARCABkAGQDAREAAhEBAxEB/8QAGwABAAIDAQEAAAAAAAAAAAAAAAUH
				AwQIBgH/xAAbAQEAAgMBAQAAAAAAAAAAAAAAAQIDBQYEB//aAAwDAQACEAMQAAABpz6ZQAAAAAAA
				AAAAAAAAAAAAAAAAAACz9RPjPdEvhXDoprHbsFlo6hUm6ix9VO3RQHSxr3C/uamrdvHQnM25W7Gv
				WHGW+FUbqJnAy1QvoaORVW5gX9zUz3nRmVJYUXmbdEnhQHpev8U45c39VXz3qAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAf//EACMQAAICAgEDBQEAAAAAAAAAAAQGAwUCBwEQFDQRFRc2UGD/
				2gAIAQEAAQUC/VSFgVlluwsK23WlcllJ+OKTCRrTJ1vlYTyWXKTX1ANk1UUVHa1Ws8OzK1mGUIQP
				IJP01N5DZ9lSPQFHkmkmmMz5s9dRSc02u11D5Za4VNwX23axkvc6vKljvdlQ4RM3TU3kW2s/dLJO
				YR6QiXWNdKU8s4cNWls4R1ODrkUC1fr2MS7NGqdhAVdNVIMV/b5Xlt/H/wD/xAAbEQABBAMAAAAA
				AAAAAAAAAAABABARYCAwMf/aAAgBAwEBPwGhDQUMAoaHhu1L/8QALhEAAQMCBAIJBQEAAAAAAAAA
				AgEDBAAFERIhMUFxEBMUIlFhgaHhFSM0UFJg/9oACAECAQE/Af2twlnFy5ONR3FeaEy41LmBFHXV
				a+qSVTMgJh61DnjK7q6FUucEXTdaS5yiTEQ05LUOSUhpTNMKeuy5srA40F2cAsHwoSQxQh26bzsH
				rUL8YOVXDvzMq+VIKCmVNqD7U/AP6ok6+flPxqTceyudUge/xRzlkxXVRMMMPerOA4EfGruAqyhc
				catRKsfXx6bzsHrTF16ltG8m3n8VOjG+Iym03TVKS7PIGVR1q3xHCc7Q7U+I4272hrnypy6G60rR
				DvVujq4y4JpghUBv21xUVKeffuKoAjpUZhI7SN/5D//EADUQAAIBAgMFBAgGAwAAAAAAAAECAwAE
				BRETEiExQVEUInGhEDJCYXKBkcEVI1BSYHOi0fD/2gAIAQEABj8C/Vbtbl5kEQUjSIHHPqKu7WMs
				Y4pCoLcaZYjpQp68zDcKED4lL2k+xqID9MqWUP2i0c5CTLIqehpnDaFqpyaUjP5ChFPirpN+1po1
				8sqS2tpWuEdA6k8d5PSu0YtdG2zGemhA2PEmjLhWIGVuW2wZW+Yp4ZUMcqHZZTyPpxL4U+9Yl/c1
				doiX8wiWTxIz/wBCmldy0jHaLHjnTSXPfc2m2SeZHOklte7ILUOCORbifOu3NiGizOQQYtrzzrBo
				nuO1rKXffHs5bIzHM1ZWuZEOwZMupz/761JAGOlJESy+8c6YqMjJErN48Pt6cS+FPvVzd/iOnrOX
				2NDPL/KrvA76YCOKZ1imfcp37wela6XjpaE56Yy8moYPhzK4yCOYz3UUezQwjEXVGC6Y1DksidPG
				oL6G+fSicOI2UHzrCbi1mjmltSxZVbPpuNQtHcacycMvXT3EVLdXF2HnZdnabccuirU94w2Q57q9
				By/iH//EACUQAAICAQMDBAMAAAAAAAAAAAERACExQVGBYXGhEJGx8FBgwf/aAAgBAQABPyH8rejW
				cZmzaH1KaCQB1QEHk1cbIA1PSI/Cps7XSjEg2AH+/EFSzRh2NTNyhgHk0RGbIkQFuxBQRg0p3wfH
				MFynjcsLzCCh5MHr9nvP0W8AgAmqFnAPEnhOlbJuUJNkw2O5gGB/1maR4SZ4gqQykkg5pzAC9TD6
				4WvaKhyAxWvsBGySeGBfIcwbZBtbfAPX7PefcTQdGjgtkVVCHUE7OpG0I3wRkhszHBlzUJEaA6mh
				D5P3gUG0BpdlCoDTAiwL44gWRHkZxMMMSzqy4NOS8ivFGUW0MFyUZtdcQ2hEU4wg9vL/AFD/2gAM
				AwEAAgADAAAAELbbbbbbbbbbbbbbbbbbbbbbbbbaGela/wC11NZHwWu12/xW2222222222222222
				22222222222222222222222//8QAHhEBAAICAgMBAAAAAAAAAAAAAQARITEQIEFQUWD/2gAIAQMB
				AT8Q9qF8BcoiVAuURxK+yvnYYONk0QLlUzabR31BrHBfBB8PBczEUH5H/8QAKBEBAAECBAUEAwEA
				AAAAAAAAAREAITFBUXEQYZHB8IGhseFQYNHx/9oACAECAQE/EPyo7I3TM5RomtHUCJthQJMmB3dC
				pjnCIdZipoIMsnmfz5okjLl3aTFdUnvNEGQo6WBm+9WPDVlnYI8yKgsDOBE9FZ9qfKVcePlbcKa7
				2s2EHu0dKARHKiFaCHosR0aFLos9BgOhFG0gA0ZaSqdLgxmZQ5GVOWYg2PvtSBLADyRtUTyINrPy
				vHytqxGwibKXUQIXS1k10bZTrUSjhm/ua+RUbUxScVc9s96XiouDFYztnPWglyIkn4+6cdAhTSbm
				sMVNhHoxmPnMqHsLwYbr/lEq6Yuq4+afqH//xAAjEAEBAAICAgIBBQAAAAAAAAABEQAhMVFBcWGB
				IFBgkaHR/9oACAEBAAE/EP1Vp6qkgch4yTzky6/igoC+g9YAXhcs4RLxdjRVNVGbV0/atn395Rmt
				6FaCChoMY6UMvDtfTrWSEuwKVsFWXOSXw/8Atgl9gMCUThkN3jNh9SE8D5BQgbtgjGWvA41Kzc9P
				IV6RIhEf9NPj8QX5j6cNn/ehigiLVTT5W7uN28Bojvl9pkeuYIfuNgwpCe+8GnVN2fbgs95Erq7l
				4mCXHujUUeXU6rvHXaH5jLstOnn2Tgkz8/gQX8w8NvTO4esBIrGFSqFI0Kx8ms6KaNo0JoqTz5xY
				8BTSBYqTFgI7cjGl7RQ4A2kUElsbGVIVgSdPP5zlhOrIatfuBuRK9Usg6qI2QdoLWoiRpNKIoLvg
				2A4PdNRO6tgWapef2h//2Q==" alt="Red dot" />

				<p class="title"> {{etiqueta | upper}} </p>
			</div>
		</div>

		<div class="details">
			<h4> DATOS DEL COLEGIADO </h4>
			NOMBRE DE USUARIO: {{afiliado.apell_pat}} {{afiliado.first_name}} <br/>
			C.I.: {{afiliado_ci}} <br/>
			MATRÍCULA ICAP: {{afiliado_mat}} <br/>
			<hr class="hrItem" />
		</div>
		
		<div class="details">
			<h4> DATOS DEL RECAUDADOR </h4>
			NOMBRE DE USUARIO: {{recaudador_apell_pat}} {{recaudador_first_name}} <br/>
			C.I.: {{recaudador_ci}} <br/>
			<hr class="hrItem" />
		</div>

		<div class="details">
			<h4> DATOS DE LA OPERACIÓN </h4>
			MONTO (Bs.): {{monto}}<br/>
			FECHA DE PAGO: {{fecha_pago}} <br/>
			MES PAGADO: {{mes_pagado}}<br/>
			TALONARIO: {{talonario}} <br/>
			NUMERO DE RECIBO: {{numero_recibo}}
			<hr class="hrItem" />
		</div>

	</body>
</html>