<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		{% load static %}
		<title>KARDEX</title>
		
		<style type="text/css">
			body {
				font-weight: 200;
				font-size: 12px;
			}

			.header {
				font-size: 18px;
				font-weight: 100;
				font-family: "Times New Roman", Times, serif;
				text-align: center;
				color: black;
			}

			.title {
				font-size: 12px;
				font-weight: 100;
				padding: 10px 20px 0px 20px;
			}

			.title span {
				color: #007cae;
			}

			.details {
				padding: 10px 20px 0px 20px;
				text-align: left !important;
			}

			.hrItem {
				border: none;
				height: 0.5px;
				color: #333;
				background-color: #fff;
			}

			ul {
  				list-style-type: none;
  				margin: 0;
  				padding: 10px;

			}

			li {
  				display: inline;
  				padding: 10px 40px;
			}

			ul li img {
    			margin-left: 10px;
    			vertical-align: middle;
			}

			table {
  				font-family: arial, sans-serif;
  				border-collapse: collapse;
  				width: 100%;
			}

			td, th {
  				border: 1px solid #dddddd;
  				text-align: left;
  				padding: 4px;
			}

			tr:nth-child(even) {
  				background-color: red;
			}

		</style>
	
	</head>

	<body>
		<div class="wrapper">
			<div class="header">
				
				<ul>
  					<li>
  						
  						<img src="data:image/png;base64, /9j/4AAQSkZJRgABAQEBLAEsAAD//gATQ3JlYXRlZCB3aXRoIEdJTVD/4gKwSUNDX1BST0ZJTEUA
						AQEAAAKgbGNtcwQwAABtbnRyUkdCIFhZWiAH5QACAAoADwACADlhY3NwTVNGVAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAA9tYAAQAAAADTLWxjbXMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAA1kZXNjAAABIAAAAEBjcHJ0AAABYAAAADZ3dHB0AAABmAAAABRj
						aGFkAAABrAAAACxyWFlaAAAB2AAAABRiWFlaAAAB7AAAABRnWFlaAAACAAAAABRyVFJDAAACFAAA
						ACBnVFJDAAACFAAAACBiVFJDAAACFAAAACBjaHJtAAACNAAAACRkbW5kAAACWAAAACRkbWRkAAAC
						fAAAACRtbHVjAAAAAAAAAAEAAAAMZW5VUwAAACQAAAAcAEcASQBNAFAAIABiAHUAaQBsAHQALQBp
						AG4AIABzAFIARwBCbWx1YwAAAAAAAAABAAAADGVuVVMAAAAaAAAAHABQAHUAYgBsAGkAYwAgAEQA
						bwBtAGEAaQBuAABYWVogAAAAAAAA9tYAAQAAAADTLXNmMzIAAAAAAAEMQgAABd7///MlAAAHkwAA
						/ZD///uh///9ogAAA9wAAMBuWFlaIAAAAAAAAG+gAAA49QAAA5BYWVogAAAAAAAAJJ8AAA+EAAC2
						xFhZWiAAAAAAAABilwAAt4cAABjZcGFyYQAAAAAAAwAAAAJmZgAA8qcAAA1ZAAAT0AAACltjaHJt
						AAAAAAADAAAAAKPXAABUfAAATM0AAJmaAAAmZwAAD1xtbHVjAAAAAAAAAAEAAAAMZW5VUwAAAAgA
						AAAcAEcASQBNAFBtbHVjAAAAAAAAAAEAAAAMZW5VUwAAAAgAAAAcAHMAUgBHAEL/2wBDAAMCAgMC
						AgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsKCwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIU
						FRT/2wBDAQMEBAUEBQkFBQkUDQsNFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQU
						FBQUFBQUFBQUFBQUFBT/wgARCABkAGQDAREAAhEBAxEB/8QAGwABAAIDAQEAAAAAAAAAAAAAAAUH
						AwQIBgH/xAAbAQEAAgMBAQAAAAAAAAAAAAAAAQIDBQYEB//aAAwDAQACEAMQAAABpz6ZQAAAAAAA
						AAAAAAAAAAAAAAAAAACz9RPjPdEvhXDoprHbsFlo6hUm6ix9VO3RQHSxr3C/uamrdvHQnM25W7Gv
						WHGW+FUbqJnAy1QvoaORVW5gX9zUz3nRmVJYUXmbdEnhQHpev8U45c39VXz3qAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAf//EACMQAAICAgEDBQEAAAAAAAAAAAQGAwUCBwEQFDQRFRc2UGD/
						2gAIAQEAAQUC/VSFgVlluwsK23WlcllJ+OKTCRrTJ1vlYTyWXKTX1ANk1UUVHa1Ws8OzK1mGUIQP
						IJP01N5DZ9lSPQFHkmkmmMz5s9dRSc02u11D5Za4VNwX23axkvc6vKljvdlQ4RM3TU3kW2s/dLJO
						YR6QiXWNdKU8s4cNWls4R1ODrkUC1fr2MS7NGqdhAVdNVIMV/b5Xlt/H/wD/xAAbEQABBAMAAAAA
						AAAAAAAAAAABABARYCAwMf/aAAgBAwEBPwGhDQUMAoaHhu1L/8QALhEAAQMCBAIJBQEAAAAAAAAA
						AgEDBAAFERIhMUFxEBMUIlFhgaHhFSM0UFJg/9oACAECAQE/Af2twlnFy5ONR3FeaEy41LmBFHXV
						a+qSVTMgJh61DnjK7q6FUucEXTdaS5yiTEQ05LUOSUhpTNMKeuy5srA40F2cAsHwoSQxQh26bzsH
						rUL8YOVXDvzMq+VIKCmVNqD7U/AP6ok6+flPxqTceyudUge/xRzlkxXVRMMMPerOA4EfGruAqyhc
						catRKsfXx6bzsHrTF16ltG8m3n8VOjG+Iym03TVKS7PIGVR1q3xHCc7Q7U+I4272hrnypy6G60rR
						DvVujq4y4JpghUBv21xUVKeffuKoAjpUZhI7SN/5D//EADUQAAIBAgMFBAgGAwAAAAAAAAECAwAE
						BRETEiExQVEUInGhEDJCYXKBkcEVI1BSYHOi0fD/2gAIAQEABj8C/Vbtbl5kEQUjSIHHPqKu7WMs
						Y4pCoLcaZYjpQp68zDcKED4lL2k+xqID9MqWUP2i0c5CTLIqehpnDaFqpyaUjP5ChFPirpN+1po1
						8sqS2tpWuEdA6k8d5PSu0YtdG2zGemhA2PEmjLhWIGVuW2wZW+Yp4ZUMcqHZZTyPpxL4U+9Yl/c1
						doiX8wiWTxIz/wBCmldy0jHaLHjnTSXPfc2m2SeZHOklte7ILUOCORbifOu3NiGizOQQYtrzzrBo
						nuO1rKXffHs5bIzHM1ZWuZEOwZMupz/761JAGOlJESy+8c6YqMjJErN48Pt6cS+FPvVzd/iOnrOX
						2NDPL/KrvA76YCOKZ1imfcp37wela6XjpaE56Yy8moYPhzK4yCOYz3UUezQwjEXVGC6Y1DksidPG
						oL6G+fSicOI2UHzrCbi1mjmltSxZVbPpuNQtHcacycMvXT3EVLdXF2HnZdnabccuirU94w2Q57q9
						By/iH//EACUQAAICAQMDBAMAAAAAAAAAAAERACExQVGBYXGhEJGx8FBgwf/aAAgBAQABPyH8rejW
						cZmzaH1KaCQB1QEHk1cbIA1PSI/Cps7XSjEg2AH+/EFSzRh2NTNyhgHk0RGbIkQFuxBQRg0p3wfH
						MFynjcsLzCCh5MHr9nvP0W8AgAmqFnAPEnhOlbJuUJNkw2O5gGB/1maR4SZ4gqQykkg5pzAC9TD6
						4WvaKhyAxWvsBGySeGBfIcwbZBtbfAPX7PefcTQdGjgtkVVCHUE7OpG0I3wRkhszHBlzUJEaA6mh
						D5P3gUG0BpdlCoDTAiwL44gWRHkZxMMMSzqy4NOS8ivFGUW0MFyUZtdcQ2hEU4wg9vL/AFD/2gAM
						AwEAAgADAAAAELbbbbbbbbbbbbbbbbbbbbbbbbbaGela/wC11NZHwWu12/xW2222222222222222
						22222222222222222222222//8QAHhEBAAICAgMBAAAAAAAAAAAAAQARITEQIEFQUWD/2gAIAQMB
						AT8Q9qF8BcoiVAuURxK+yvnYYONk0QLlUzabR31BrHBfBB8PBczEUH5H/8QAKBEBAAECBAUEAwEA
						AAAAAAAAAREAITFBUXEQYZHB8IGhseFQYNHx/9oACAECAQE/EPyo7I3TM5RomtHUCJthQJMmB3dC
						pjnCIdZipoIMsnmfz5okjLl3aTFdUnvNEGQo6WBm+9WPDVlnYI8yKgsDOBE9FZ9qfKVcePlbcKa7
						2s2EHu0dKARHKiFaCHosR0aFLos9BgOhFG0gA0ZaSqdLgxmZQ5GVOWYg2PvtSBLADyRtUTyINrPy
						vHytqxGwibKXUQIXS1k10bZTrUSjhm/ua+RUbUxScVc9s96XiouDFYztnPWglyIkn4+6cdAhTSbm
						sMVNhHoxmPnMqHsLwYbr/lEq6Yuq4+afqH//xAAjEAEBAAICAgIBBQAAAAAAAAABEQAhMVFBcWGB
						IFBgkaHR/9oACAEBAAE/EP1Vp6qkgch4yTzky6/igoC+g9YAXhcs4RLxdjRVNVGbV0/atn395Rmt
						6FaCChoMY6UMvDtfTrWSEuwKVsFWXOSXw/8Atgl9gMCUThkN3jNh9SE8D5BQgbtgjGWvA41Kzc9P
						IV6RIhEf9NPj8QX5j6cNn/ehigiLVTT5W7uN28Bojvl9pkeuYIfuNgwpCe+8GnVN2fbgs95Erq7l
						4mCXHujUUeXU6rvHXaH5jLstOnn2Tgkz8/gQX8w8NvTO4esBIrGFSqFI0Kx8ms6KaNo0JoqTz5xY
						8BTSBYqTFgI7cjGl7RQ4A2kUElsbGVIVgSdPP5zlhOrIatfuBuRK9Usg6qI2QdoLWoiRpNKIoLvg
						2A4PdNRO6tgWapef2h//2Q==" alt="Red dot"/>
					</li>
  					
  					<li>
  						<img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAJYAAABkCAYAAABkW8
  						nwAAABgmlDQ1BJQ0MgcHJvZmlsZQAAKJF9kTtIA0EURU8SRRHFwhQSLLaIVgr+EEuJoggKIYlg1M
  						LdjYlCdg27ERtLwTZg4afxV9hYa2thKwiCHxA7OytFG5H1TRJIEOPAMIc7cy/vvQH/Yda03LpesO
  						y8E5uIaLPJOa3hhQAhgkCfbrq56fh4gprr8w6fOm97VFbtd3+ultSSa4JPEx4xc05eeFF4aD2fU7
  						wrHDSX9ZTwmXC3IwUKPyjdKPGr4kyR/Soz6CRio8Kqfi1TxUYVm8uOJTwoHE5ZtuT7Z0ucUryh2M
  						qumeU6VYfNS/ZMXOmyO5hgkmmiaBissUKW
						PD1y2qK4xOQ+UsMfKvqj4jLEtYIpjjFWsdCLftQf/J6tmx7oLyU1R6D+2fPeO6FhG74Lnvd15Hnf
						xxB4gku74l89hOEP0QsVLXwArZtwflXRjB242IL2x5zu6EUpINufTsPbqXxTEtpuoGm+NLfyPSf3
						kJBZTV3D3j50ZSR7oUbfjdVz+/dNeX4/gZVyrbSshCUAAAAGYktHRAD/AP8A/6C9p5MAAAAJcEhZ
						cwAALiMAAC4jAXilP3YAAAAHdElNRQflAxoUCxOOPH4DAAAAGXRFWHRDb21tZW50AENyZWF0ZWQg
						d2l0aCBHSU1QV4EOFwAADeFJREFUeNrt3VtwXPV9wPHvue2evemy2rV2LUuy5Au28BUoFwsIxcYQ
						K4a0YEhp2sbTTjNlmubSdtLQmaQP0DR5asiQMGlJyrSQ4oxDSqBcSohtbLCxZSNfsC1fdLNWe5G0
						2pv27Nlzzr8PIiS0dDLTyUOi/X8epVnt6K+vfufsf3fPKqeWtwok6VdMlUsgybAkGZYkw5IkGZYk
						w5JkWJIkw5JkWJIMS5JkWJIMS5JhSZIMS5JhSTIsSZJhSTIsSYYlSTIsSYYlybAkSYYlybAkGZYk
						ybAkGZYkw5IkGZYkw5JkWJIkw5J+jSgTz64vymX4cHVbYPgUuRD/D3rk5uaIXIb/LT3ncfBcnd+9
						wY/6IW3VXTg96rC8XaU1LAe/PBT+HwQKnvAhhI/5msLewzXWd+kfGpUndIQI8dKgSbHil4v3YRNL
						LgG4XjO5woPMFpqxrDIoDk2+OaLBy3jiFKpSBcB2+jl+KsrouE25Uids1XjnZAdsXEY0fBjTdwZD
						L8gFlWEt0NQCS5r/FZ+2kYNH/DzxT6+hqTrvrr+agbvuY8OaUcKBtzk02Me99+3G8zy2b9/Krk/8
						DluuDxAJvILfOAfI87H31/Rv/rLr7xpmMrmC3AyEQz8PQAhIZ3WaIhYK4/StSrPp+gEqVpTHv/k4
						r//0GDV3DV1d63n8iX1kMlke+8bDfP6hKIdHXmUq/xabe/PUbA9DF0xlNMIhgfILjWVygoAJqto4
						4TXUOZamKUCCo0N3MDG58EdWFAgGTaZnl1Eu+6hacGryB0zHZhg88gjf/c5nuXDhMi++6rF37176
						ru7jumuWY/rfIt40zy1XGcxXTcoVH9OzHYSCgfejmphUODp0B5B4777lyfuiFW/LkM+PMX4+gXjv
						CvfNkTKl+RUEg81MZdfSEzM4ceko2fMvs3n9IF/8690cPHgIIQQP7PptktGfcGHK4aH9Na7MKkxl
						1xIMNFGurqIpUn5/Eo4PJ8jnx4i3ZRruUKjMTd686D9AoGYLptJNxGN1FKWKqsDYS3lCuHTcE0NR
						Fep1H6ePbSWefZ18JMFJe5ib3F4CyfW0XLubjZs2k81m8flU7tuVZDoQ4Qv3NxPy301bZILM7HrW
						rdyLYdgIT5B6fpqy0Oj+aCueACEC5KYNkoki/gbYG2uIieX3KcRjglcPbOPM2S5MU0G5bDH5D2mm
						9uTwXIFh2ASe/w/yXx3k/JOXcAI+dp0/y3/OBXh533+xbAW0XtsOyQjffybFwacvUM2HKZaXky3d
						z3Q+RLGyGs8VTO3JceWraZQRC9NUOHO2m1cPbCUeEw0R1aJ/VJib9nC9KKa/jM8os2716+QOVUlP
						TuMNWQBMfyOLEILkA+141TzNmop7ywZu7oqwNnGQb731NCWrl90P3cqZ8QJBvyB3cYzdO5uItW1m
						fHKMbCnPiqtupuaUmdrzOjOPZQFw3rGYemEaO6+wrn8ahXnmCjpWLYymzhKPqXJi/UaeT8VUPNHF
						/sNbSY1FWNUzT3M4z8zfp7HiBkldpeB6kPRTtVxCt6hUBnaybVcQxUvjFGIsj3+BQfez5J07iUfv
						4an8lxm4+wEsuxPHnmLNqiymP4ju7ifkew6SBgXXI66pVOIG+UfTtITzrOqZJzUWYf+RrQjRtaij
						aojthnAog0qauedGEafzFMsKLafmKe2MEjI9kvdGsfuC+AMqod4gmbb1lApZLowUOT1/J93hWUzH
						5qjXySW3jSQFVgXmeOzkR+iuH0PxBLrPoXvpiwhhUzVUop0GNT/UNkZoHSxTWhHAPTZHbqjMsv4C
						3Z1XPrAdIQ+Fv4mPThToXV7mdM1m9HszuNe0orkesSfTzA5EaP1olGhIYzbvYBigR37CicN15lr+
						lH8ZX8uXb5zjD+66Eb/PR3PApdmnc/xElOOOwb7C77Ep/3U23XgOu65iWR5tCT/OQBvZyRqxJ9PM
						uYLykMX84Bzhj0XpXV5GUeTJ+6LgeZDK2rRGfXBTBFtA1fLo3hCiXHFJZ2yirTr5Kjx7pMobtc0E
						TYsvrZ/kD+/awZ19bdy6wsfGpEZ3a4mB/ia+tuYIA2tPsHeun2ffrjI169LSrDM3V6dccenZEKZq
						edhCIG6M0Bo1SGUdPK8xthsa4imdmiXQa4JLLQox4RFUFWZdQbTNYGnST6nsMjJm8fmXbc7Ow8bm
						W/HrBfpXH8IqZPCcc3juJFAEFnZnbu9r5Z7nPsdIfYYzE/s4kqvy7Z0eiSU+ImGNdMpm1hW0agp1
						4XGpRcG0PGxL4JPbDYvD7IxLIqLRMWoTeiJF3hV06CpWzWMqbRMKahAwOJR1mJ6Psy7uY2w6SNdS
						E9c+jG0Fmc3oTKfamC+H8DyVzmSe7a0jtPuiTNfiDOZdFNMgFFSZSttUax4dukreFYSeSNExapOI
						aMzMuHJiLRaOLagt00loKjOuR1xTGA8KbtoQRvGr5OfqjE85eEGNXl8nN3cdxlNWUbQS2LPT1GsT
						gI4QUJoNU86H8Idd+nsz3K4P80f7VmB5OcbTdVpNQazNQIQ13jIFiapCVQiWaCrpTh3HbowPtG2I
						idViuEx8P0fK8dBQyLmChK5y/nKVcsWlLWpgBjTwwBLLGLpyPf56jpnxg6Rzw+TmRkjNVsgUe6jZ
						8xSrdQqzCgGnyFeO7sBSOsEDM6DRFjUoV1zOX66SMFRyrkBDYdLxmHgmR4shJ9bimVhZm00+HV2B
						qhD4BaRnHa7rMslXXKZn6hw4UwcFUoR5ZHwF39ZfRK0//8Gf473CUMYgbfsxtDgrfO2cc/2g+kCB
						A2cs4j6XgKnS22VyLO8QUhT8KjQrKks0FSdrQ29AhrUYlIoOs65HWFWoGBASCk0opMYsAjGDRLsP
						0+eC54J472Gb6UNrUX52rg4olOc1ThVMrHmNQHCGctFe+JbwwBOYPpVEu49CwSE1ZpHQVFygoINT
						F5Q9gVdyaJeHwsXBDOnENRUVaNkWYbzukfcEy3oDJBM+FAVaA+D34Es9C68WJZigrVPQ1iUIJDTM
						tkeoqP/I0GSM8xNNHJ+McyS9FICHe6qYHkSDoCqQTPhY1hsg7wnG6x4t2yKoQFxTMYON8drKhvgt
						1bDKhbpLt64S7fBTM1RqQjByooTZ5ScQ0Li2x+BbbpAbtqzGODjI8Ys6pzKrWbnkQcoVk49v+Rhf
						+dHf8nY5xAZ1CSeLWbY3NfNo1xt8vH8VKwLNrFlep1h2yeRsrPEahgLLjIX7nKbEhbrLugZ540VD
						/JbxVSHo0Rl1PC6+W8EAiq6gcKJEvS4oFh38wseOrZ+iPneStzK9nCxfxysXg1zXtY2/2vUXdLQl
						6e9I8d2P+FkZDbFSVcmLq9if7sOeO8nA1k/hE36KRYd6XVA4XqLoCgwFLr5bYdTxoEcnvjokJ9Zi
						YQRVkhtDhK6U0Q9bWArEdRXt2QKRzRHc7jCt7Z/Ep1/Erhxgo7+TaHuB54dvZ8+RHzM8cQnP89i5
						WaM7pnE5pZAqbGPn8mEKMxZ25Q0MXSPZ+fvkM0+hjZbx9hRwdRUFSB62iBsalY0hjICcWItKbCDK
						EC5nay6TdY9JxyNV97jw7zPougLuMS4P78OuwZ1Xv8nTV/q5tTtJJjPND99+maPvDjKRcjh12ebF
						4yVu6+nhB+MbuGPdaewaXB7eD+4xNF3hwrMzpN67j8m6x9mayxAusYFooyx347xLJ7kpQt/DS6k/
						mqZJVRBA2RM4HpgBmLpymnJJoGpw4KXL9NTeZFhfTUlJUJ7fy7h1kh+9ZrHGfxWtS+/mUiHCsiuH
						ODBzmW13QbkkmLpymlhMpcUFXVcJqwoKUPQExsMJkpsiMqzFaOX2NoYuVqnvKeJTwBVQcgW1goup
						QEWBQwerHDlYY5n2FNdv+jNm/Ro/Vj/NbwUvURcmV6ylbO14l1gtzeF3nuGIq2CG/fRvCWAqglrR
						peQJmsTC4cAWYD/QzNrtbY201I3xmvefmZiwGXqnQo/jIL43TWTGQ1Gg7lM5Lfw8EwrhiYUtg898
						MYKI6fzw5A1c1b6Z7BUPoZksSxY4nTnHvRuOwLTDN79Wev82D1YqrFNqGLa38PRPm4q6O8YlTWfj
						5iBdnX45sRajcERlx0ALIyM1Rj6tE23XOPVvM8SXGLxwaGEpdAPMoMKGTSZ/vqfMH994mFv7TpD7
						5ywIiH9iCQfO1PjOmzUevz9MsKlMdV4gHHghGKRzi49crs76T7aRznosX20y0OunUHQbamI11BtW
						A6bKa6+XCARUrt8S4dhwjVU7WslGb2M8O0YgrPEnn0mycrXL1Vf7CamC3JxHcq6GMmWhKIKqpnCy
						ADcs1+nrNjBDgtu2L2F0xCKcUOjasZ1Vd5UYnnK5fVszmUydd05WWdcXaKiwGupQCFCZ9wiYCj/d
						X2LNapOODh+V+SCpKZu5fJFrrwlSrXqEQiqVmsCxPfS8Q/m12YWpd0cUp0VH96mE/ArlikswoDF4
						fJ6WliaWLvURCs6TStmcPWdx220RLEsQCqoyrMVudtah7gjalxgf+LrjiIWth1/geuBmbZzpOkKA
						ETfQlvjQ/kcnH3bbbLaOritEo413iQxlarRfXnjtlxA1D7yf7/wpfnn1p18aFp9bL+QySL9q8l9P
						kmFJMixJhiVJMixJhiXJsCRJhiXJsCQZliTJsCQZliTDkiQZliTDkmRYkiTDkmRYkgxLkmRYkgxL
						kmFJkgxLkmFJMixJkmFJMixJhiVJMixJhiXJsCRJhiX9OvlvtNDp+yIbDzcAAAAASUVORK5CYII=" alt="Red dot" />
					</li>
		  
				</ul>

			</div>
		</div>

		<div>
			
			<div class="header">
				<h7>
					<p class="title"> Ilustre colegio de abogados </p> <br>
					<p class="title"> KARDEX </p> 
				</h7>
			</div>
			
		</div>

		<div class="details">
			<table>
			  
			  <tr>
			    <th>1. Nombres y apellidos: <p class="title">{{user_filt.first_name | upper}} {{user_filt.apell_pat | upper}} {{user_filt.apell_mat | upper}}</p></th>
			  </tr>
			  
			  <tr>
			    <th>2. Lugar y fecha de nacimiento: <p class="title">{{user_filt.lugar_nac | upper}} {{user_filt.fecha_nac}}</p></th>
			  </tr>

			  <tr>
			    <th>3. N° C.I.: <p class="title">{{user_filt.ci}}</p></th>
			  </tr>
			  
			  <tr>
			    <th>4. Estado civil: <p class="title">{{user_filt.est_civil | upper}}</p></th>
			  </tr>

	
			  <tr>
			    <th>5. Universidad donde cursó sus estudios: <p class="title">{{user_filt.univ_estud | upper}}</p></th>
			  </tr>
			  
			  <tr>
			    <th>6. Fecha de exámen de Tesís, Grado o Corte: <p class="title">{{user_filt.fecha_tg}}</p></th>
			  </tr>


			  <tr>
			    <th>7. Fecha de matriculación en el colegio: <p class="title">{{user_filt.fecha_registro}}</p></th>
			  </tr>
			  

			  
			  <tr>
			    <th>8. Cargos desempeñados en empresas privadas: <p class="title">{{user_filt.cargos_priv_otras | upper}}</p></th>
			  </tr>
			  
			  <tr>
			    <th>9. Cargo que desempeña actualmente: <p class="title">{{user_filt.cargo_actual | upper}}</p></th>
			  </tr>

			  <tr>
			    <th>10. Especialidad en el ejer. del Derecho: <p class="title">{{user_filt.espec_ejer_der | upper}}</p></th>
			  </tr>
			  
			  <tr>
			    <th>11. Producciones jurídicas: <p class="title">{{user_filt.prod_jur | upper}}</p></th>
			  </tr>

			
			  <tr>
			    <th>12. Estudios de especialización: <p class="title">{{user_filt.estud_espec | upper}}</p></th>
			  </tr>
			  

			  <tr>
			    <th>13. Dirección oficina: <p class="title">{{user_filt.direc_ofic | upper}}</p></th>
			  </tr>
			  
			  <tr>
			    <th>14. Teléfono oficina: <p class="title">{{user_filt.tel_ofic | upper}}</p></th>
			  </tr>

			  <tr>
			    <th>15. Dirección de domicilio: <p class="title">{{user_filt.direcc | upper}}</p></th>
			  </tr>

			  <tr>
			    <th>16. Teléfono domicilio: <p class="title">{{user_filt.telefono}}</p></th>
			  </tr>
			  
			  <tr>
			    <th>17. Email: <p class="title">{{user_filt.email}}</p></th>
			  </tr>

			</table>

		</div>
		
		<br style="padding: 20px">

		<div class="details" style="padding-top: 100px">
			
			<table>
				
				<tr>
			    	<th style="text-align: center; padding: 20px; border: 0px;">Sello del Colegio</th>
			  	</tr>

			</table>

			<br>

			<table>
			  
			  <tr>
			    <th style="text-align: center; border: 0px;">Firma del Presidente: <p class="title">____________________________</p></th>
			    <th style="text-align: center; border: 0px;">Firma del Secretario General: <p class="title">____________________________</p></th>
			    <th style="text-align: center; border: 0px;">Firma del Interesado: <p class="title">____________________________</p></th>

			  </tr>

			</table>

		</div>

	</body>
</html>
