{% extends 'ProyectoApp/base.html' %}

<head>         
     {% block title %} <title>Iniciar sesión</title> {% endblock %}
</head>

{% block content %}

<section id="about">
          <div class="container">
               <div class="row">
                    <div class="col-md-6 col-sm-12">
                         <div class="about-info">
                              <h2>Inicia sesión para que empieces a realizar tus cobros o aportaciones</h2>
                              <figure>
                                   <span><i class="fa fa-users"></i></span>
                                   <figcaption>
                                        <h3>Directivos</h3>
                                        <p>Encargados de la gestión de los usuarios Recaudador y Colegiados</p>
                                   </figcaption>
                              </figure>

                              <figure>
                                   <span><i class="fa fa-certificate"></i></span>
                                   <figcaption>
                                        <h3>Recaudadores</h3>
                                        <p>Encargados de gestionar las aportaciones de los colegiados</p>
                                   </figcaption>
                              </figure>
                              <figure>
                                   <span><i class="fa fa-bar-chart-o"></i></span>
                                   <figcaption>
                                        <h3>Colegiados</h3>
                                        <p>Usuarios que visulizan su estado actual en función a sus aportaciones</p>
                                   </figcaption>
                              </figure>
                         </div>
                    </div>

                    <div class="col-md-offset-1 col-md-4 col-sm-12">
                         <div class="entry-form">
                              <form method="post">
                                   {% csrf_token %}
                                   {% if form.error_messages %}
                                             <div class="alert alert-danger alert-dismissible" role="alert">
                                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                       <span aria-hidden="True">&times;</span>
                                                  </button>
                                                  <strong>Advertencia: </strong> {{form.get_invalid_login_error}}
                                             </div>
                                   {% endif %}
                                   <h2>Iniciar sesión</h2>
                                   {{form.username}}
                                   {{form.password}}
                                   <button type="submit" class="submit-btn form-control" id="form-submit">Iniciar sesión</button>
                              </form>
                         </div>
                    </div>
               </div>
          </div>
     </section>

<!-- FOOTER -->
     <footer id="footer">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Nuestra sede</h2>
                              </div>
                              <address>
                                   <p>Av. Arce, La Paz, Bolivia,<br> Integer nisl dui, ABC 12000</p>
                              </address>

                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>

                              <div class="copyright-text"> 
                                   <p>Copyright &copy; 2021 Proyecto</p>
                                   
                                   <p>Diseñado por: German Varela</p>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Información de contacto</h2>
                              </div>
                              <address>
                                   <p>+59 179431676, +59 179431676</p>
                                   <p><a href="#">danielmiguel_@hotmail.com</a></p>
                              </address>

                              <div class="footer_menu">
                                   <h2>IMPORTANTE</h2>
                                   <ul>
                                        <li><a href="#">Carreras</a></li>
                                        <li><a href="#">Investigadores</a></li>
                                        <li><a href="#">Términos y Condiciones</a></li>
                                        <li><a href="#">Política de Privacidad</a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="footer-info newsletter-form">
                              <div class="section-title">
                                   <h2>Suscríbete para recibir notificaciones</h2>
                              </div>
                              <div>
                                   <div class="form-group">
                                        <form action="#" method="get">
                                             <input type="email" class="form-control" placeholder="Ingresa tu email" name="email" id="email" required="">
                                             <input type="submit" class="form-control" name="submit" id="form-submit" value="Enviar">
                                        </form>
                                        <span><sup>*</sup>Por favor, no marque los correos como span</span>
                                   </div>
                              </div>
                         </div>
                    </div>
                    
               </div>
          </div>
     </footer>

{% endblock %}

