<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}
</style>
</head>
<body>

<h2>Left-align Headings</h2>
<p>To left-align the table headings, use the CSS text-align property.</p>

<table style="width:100%">
  <tr>
    <th>Nombres y apellidos: <p>German Varela</p></th>
    <th>Lugar y fecha de nacimiento: <p>Potosí 15-05-1997</p></th> 
    <th>N° C.I.: <p>25829264</p></th>
  </tr>
  <tr>
    <th>Universidad donde cursó sus estudios: <p>Universidad de Carabobo</p></th>
    <th>Fecha de exámen de Tesís, Grado o Corte: <p>24-03-2021</p></th> 
    <th>Fecha y Universidad que le extendió el título de Abog.: <p>24-03-1997 Universidad de Carabobo</p></th>
  </tr>
  <tr>
    <th>Fecha de matriculación en el colegio: <p>01-01-21</p></th>
    <th>Cargos desempeñados en empresas privadas: <p>Constitucionalista, penal, DDHH</p></th> 
  </tr>
  <tr>
    <th>Cargo que desempeña actualmente: <p>Abog. Defensor</p></th> 
    <th>Especialidad en el ejer. del Derecho: <p>Abog. Defensor</p></th>
    <th>Producciones jurídicas: <p>El buen Abogado, Procesos básicos del abogado defensor y Misión Bolívia</p></th>
  </tr>
  <tr>
    <th>Ejercicio de la Cátedra: <p>Abog. Defensor</p></th>
    <th>Estudios de especialización: <p>Master en Ciencias Políticas- Massachusets</p></th> 
  </tr>
  <tr>
    <th>Dirección oficina: <p>Calle Arce 603</p></th>
    <th>Teléfono oficina: <p>782641211244</p></th>
  </tr>
  <tr>
    <th>Casilla: <p>German Varela</p></th>
    <th>Dirección de domicilio: <p>Potosí, Av. Arce</p></th> 
    <th>Teléfono domicilio: <p>12312312312</p></th>
    <th>Email: <p>gvarela.personal@gmail.com</p></th>
  </tr>
  
  
</table>

</body>
</html>