{% extends 'ProyectoApp/recaudador/recaudador-dashboard.html' %}
{% load static %}
{% block info %}

  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
        <a href="#tabNewClient" class="mdl-tabs__tab is-active">Kardex</a>
      </div>
      <div class="mdl-tabs__panel is-active" id="tabNewClient">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
            <div class="full-width panel mdl-shadow--2dp">
              <div class="full-width panel-tittle bg-primary text-center tittles" style="text-align: center; border: 3.5px outset #cca300; border-radius: 15px; text-align: center; background: rgb(2,0,36); background: linear-gradient(-15deg, rgba(145,145,175,1) 0%, rgba(2, 88, 149, 1) 5%, rgba(230, 0, 0, 1) 100%)">
                Matrícula ICAP N°: {{user_filt.matricula}} <br>
              </div>
              <div class="full-width panel-content">
                  
                  {% include 'ProyectoApp/messages.html' %}

                  <p class="text-center">
                    {% if not user_filt.foto %}
                       <img class="dashboard" src="{% static 'ProyectoApp/img/foto-estandar.jpg' %}">
                    {% elif user_filt.foto %}
                       <img class="dashboard" src="{{user_filt.foto.url}}">
                    {% endif %}
                  </p>

                  <p class="text-center">
                    <h5 class="text-condensedLight" style="text-align: center;"><strong>Datos e información</strong></h5>
                  </p>
                  
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">1. Nombres:</h7>{{user_filt.apell_pat | upper}} {{user_filt.apell_mat | upper}} {{user_filt.first_name | upper}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">2. Lugar y fecha de nacimiento:</h7> {{user_filt.lugar_nac | upper}} | {{user_filt.fecha_nac}}
                  </div>
                  
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">3. N° C.I.:</h7> {{user_filt.ci}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">4. Estado civil:</h7> {{user_filt.est_civil | upper}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">5. N° RUC:</h7> {{user_filt.num_ruc}}
                  </div>
                  
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">6. Universidad donde cursó sus estudios:</h7> {{user_filt.univ_estud | upper}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">7. Fecha de exámen de Tesis, Grado o Corte:</h7> {{user_filt.fecha_tg | upper}}
                  </div>
                  
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">8. Fecha y Universidad que le ha otorgado el grado de Licenciado:</h7> {{user_filt.fecha_ol}} | {{user_filt.univ_lic | upper}}
                  </div>
                  
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">9. Fecha y Tipo de Entidad que le extendió el título de Abogado:</h7> {{user_filt.fecha_tit_pn}} | {{user_filt.ent_pub | upper}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">10. Fecha de matriculación en el Colegio:</h7> {{user_filt.fecha_registro}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">11. Cargos desempeñados en el ramo Judicial:</h7> {{user_filt.cargos_judic | upper}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">12. Cargos desempeñados en la Administración Pública:</h7> {{user_filt.cargos_admin_pub | upper}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">13. Cargos desempeñados en empresas privadas:</h7> {{user_filt.cargos_priv_otras | upper}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">14. Tiempo de ejecución profesional sin dependencia (Bufete):</h7> {{user_filt.tiempo_ejec_prof_sd | upper}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">15. Cargo que desempeña actualmente:</h7> {{user_filt.cargo_actual | upper}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">16. Especialidad en el ejercicio del Derecho:</h7> {{user_filt.espec_ejer_der | upper}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">17. Producciones jurídicas (libros, revistas, artículos, entre otras):</h7> {{user_filt.prod_jur | upper}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">18. Ejercicio de la Cátedra:</h7> {{user_filt.ejer_cated | upper}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">19. Estudios de especialización:</h7> {{user_filt.estud_espec | upper}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">20. Reconocimientos obtenidos:</h7> {{user_filt.recon_obt | upper}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">21. Asistencia a eventos internacionales:</h7> {{user_filt.asist_event_inter | upper}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">22. Instituciones donde cuente con seguro:</h7> {{user_filt.inst_aseg | upper}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">23. Beneficiarios:</h7> {{user_filt.beneficiarios | upper}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">24. Dirección oficina:</h7> {{user_filt.direc_ofic | upper}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">25. Teléfono oficina:</h7> {{user_filt.tel_ofic }}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">26. Dirección domicilio:</h7> {{user_filt.direcc | upper}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">27. Teléfono domicilio:</h7> {{user_filt.telefono}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">28. Email:</h7> {{user_filt.email}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="border-style: groove;">
                    <h7 style="color: #C11010">29. Observaciones:</h7> {{user_filt.observ}}
                  </div>
                  
                  <hr>

                  <div style="text-align: center;">
                      <a href="{% url 'recaudador-ver-historial' user_log user_filt.username 'AMU' 'TOTAL' None None %}" class="section-btn2 btn btn-default smoothScroll">Ver historial de cuotas</a>
                  </div>
                  
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>

{% endblock %} 