{% extends 'ProyectoApp/recaudador/recaudador-dashboard.html' %}
<!--{% load static %}-->
{% block info %}
  
  {% include 'ProyectoApp/messages.html' %}

  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
        <a href="#tabNewClient" class="mdl-tabs__tab is-active">Confirmar cobro</a>
      </div>
      <div class="mdl-tabs__panel is-active" id="tabNewClient">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
            <div class="full-width panel mdl-shadow--2dp">
              <div class="full-width panel-tittle bg-primary text-center tittles" style="text-align: center; border: 3.5px outset #cca300; border-radius: 15px; text-align: center; background: rgb(2,0,36); background: linear-gradient(-15deg, rgba(145,145,175,1) 0%, rgba(2, 88, 149, 1) 5%, rgba(230, 0, 0, 1) 100%)">
                Datos de la operación
              </div>
              <div class="full-width panel-content">
                
                <form method="post" action="">
                {% csrf_token%}
                  <h5 class="text-condensedLight">Datos</h5>
                    
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    Colegiado: {{usuario.apell_pat}} {{usuario.first_name}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    Matrícula: {{usuario.matricula}}
                  </div>
                    
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    CI: {{usuario.ci}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    Fecha de pago [YYYY-MM-DD]: {{form.fecha_pago}}  
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.talonario}}
                    <label class="mdl-textfield__label" for="emailClient">Talonario</label>  
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.numero_recibo}}
                    <label class="mdl-textfield__label" for="emailClient">Numero de Recibo</label>
                  </div>
               

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    Monto unitario del Aporte Mensual:  {{20}} BS  <div style="display: none;">  {{form.aporte_mensual_deno}}    </div> 
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.cantidad}}
                    <label class="mdl-textfield__label" for="emailClient">Cantidad de meses que desea pagar</label>  
                  </div>
<!--
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    Cant. de aportes mensuales a registar: {{form.cantidad}}
                  </div>
                -->
                  <div style="text-align: center;">
                    
                    <div class="btn-group" role="group" aria-label="...">
                        
                        <button type="button" onclick="cancelar()" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-registrar#" title="Cancelar" style="color: red;">
                          <i class="fa fa-ban" aria-hidden="true"></i>
                        </button>
                        
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addClient">
                          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        </button>
                        <div class="mdl-tooltip" for="btn-addClient">Siguiente</div>
                    </div>
                  
                  </div>
                
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>

  <script>
  function cancelar() {
    window.location="{% url 'recaudador-dashboard' user_log.username %}";
  }
  </script>

{% endblock %} 