{% extends 'ProyectoApp/directivo/directivo-dashboard.html' %}
<!--{% load static %}-->
{% block info %}

  <!-- LISTA DE AFILIADOS -->
    <div class="full-width divider-menu-h"></div>
    <div class="mdl-grid">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="text-align: center; border: 3.5px outset #cca300; border-radius: 15px; text-align: center; background: rgb(2,0,36); background: linear-gradient(-15deg, rgba(145,145,175,1) 0%, rgba(2, 88, 149, 1) 5%, rgba(230, 0, 0, 1) 100%)">
        <!-- ROJO #e60000 rgba(230, 0, 0, 1) -->
        <!-- AZÚL #025895 rgba(2, 88, 149, 1)-->
          
          {% if mes == True %}        
           <h7 style="text-align: center; color: #ffcc00;"><strong> HISTORIAL DE APORTES MENSUALES DE ESTE MES</strong></h7> <br>
           <h7 style="text-align: center; color: #ffcc00;"><strong>Monto Unitario: {{monto_unit}} Bs.</strong></h7>

          {% elif anual == True %}        
           <h7 style="text-align: center; color: #ffcc00;"><strong> HISTORIAL DE APORTES MENSUALES DEL {{año}}</strong></h7> <br>
           <h7 style="text-align: center; color: #ffcc00;"><strong>Monto Unitario: {{monto_unit}} Bs.</strong></h7>

           {% elif fechas == True %}        
           <h7 style="text-align: center; color: #ffcc00;"><strong> HISTORIAL DE APORTES MENSUALES <br>
            <h7 style="text-align: center; color: #ffcc00;"><strong> DEL {{start_date | upper}} AL {{end_date | upper}}</strong></h7> <br>
           <h7 style="text-align: center; color: #ffcc00;"><strong>Monto unitario: {{monto_unit}} Bs.</strong></h7>

          {% endif %}
        </div>
      </div>
      <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop" style="overflow-x:auto;">
        {% include 'ProyectoApp/messages.html' %}
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric" style="text-align: center;">DETALLES</th>
              <th style="text-align: center;">N° COMPROBANTE</th>
              <th style="text-align: center;">TALONARIO</th>
              <th style="text-align: center;">FECHA DE PAGO</th>
              <th style="text-align: center;">NOMBRE DEL RECAUDADOR</th>
              <th style="text-align: center;">MATRÍCULA DEL RECAUDADOR</th>
              <th style="text-align: center;">NOMBRE DEL COLEGIADO</th>
              <th style="text-align: center;">MATRÍCULA DEL COLEGIADO</th>
            </tr>
          </thead>
          <tbody>
            <tr> 
              {% for cobro in cobros %} 
              <!-- FILAS n -->
              <td style="text-align: center;" title="Detalles de operación"><a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="{% url 'directivo-detalles' user_log cobro.comprobante %}"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
               <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">{{cobro.comprobante}}</td>
               <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">{{cobro.talonario}}</td>
               <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">{{cobro.fecha_pago}}</td>
               <td style="text-align: center;">{{cobro.recaudador.apell_pat | upper}} {{recaudador.apell_mat | upper}} {{cobro.recaudador.first_name | upper}} </td>
               <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">{{cobro.recaudador.matricula}}</td>
               <td style="text-align: center;">{{cobro.afiliado.apell_pat | upper}} {{afiliado.apell_mat | upper}} {{cobro.afiliado.first_name | upper}}</td>
               <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">{{cobro.afiliado.matricula}}</td>
               
            </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      
      <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop" >

        <div style="text-align: center; padding-top: 15px;">
          
          <div>
            <h7> <strong> Cantidad de cobros realizados: {{fact_cobradas}}</h7> </strong>
          </div>

          <div>
            <h7> <strong> Cantidad de dinero recaudado ({{fact_cobradas}}x{{monto_unit}} Bs.): {{monto_recaudado_total}} Bs.</h7> </strong>
          <div>

        </div>
          
        {% if tam == 'AMU' and mes == True %}
          <div style="text-align: center; padding-top: 15px;">
          
          <div style="text-align: center;">
            <a href="{% url 'recaudado-este-mes' user_log 'AMI' %}" class="section-btn2 btn btn-default smoothScroll">Ver aportes mensuales de {{fact_ami.aporte_mensual}} Bs.</a>
          </div>

        </div>
        
        {% elif tam == 'AMI' and mes == True %}
          <div style="text-align: center; padding-top: 15px;">
          
          <div style="text-align: center;">
            <a href="{% url 'recaudado-este-mes' user_log 'AMU' %}" class="section-btn2 btn btn-default smoothScroll">Ver aportes mensuales de {{fact_amu.aporte_mensual}} Bs.</a>
          </div>

        </div>
       
        {% elif tam == 'AMU' and fechas == True %}
          <div style="text-align: center; padding-top: 15px;">
          
          <div style="text-align: center;">
            <a href="{% url 'reporte-fechas-listo' user_log 'AMI' start_date end_date %}" class="section-btn2 btn btn-default smoothScroll">Ver aportes mensuales de {{fact_ami.aporte_mensual}} Bs.</a>
          </div>

        </div>
        
        {% elif tam == 'AMI' and fechas == True %}
          <div style="text-align: center; padding-top: 15px;">
          
          <div style="text-align: center;">
            <a href="{% url 'reporte-fechas-listo' user_log 'AMU' start_date end_date %}" class="section-btn2 btn btn-default smoothScroll">Ver aportes mensuales de {{fact_amu.aporte_mensual}} Bs.</a>
          </div>

        </div>
        {% endif %}

          <!-- PAGINACIÓN-->
          <div class="pagination-tutorial">
          {% if cobros.has_previous %}
            <a class="pagination-tutorial-action" href="?page=1">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            <a class="pagination-tutorial-action" href="?page={{cobros.previous_page_number}}">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
          {% endif %}
          {% for num in cobros.paginator.page_range %}
            {% if cobros.number == num %}
              <span class="pagination-tutorial-number pagination-tutorial-current">{{num}}</span>
            {% elif num > cobros.number|add:'-3' and num < cobros.number|add:'3' %}
              <a class="pagination-number" href="?page={{num}}">{{num}}</a>
            {% endif %}
          {% endfor %}
          {% if cobros.has_next %}
            <a class="pagination-tutorial-action" href="?page={{cobros.next_page_number}}">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
            <a class="pagination-tutorial-action" href="?page={{cobros.paginator.num_pages}}">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
          {% endif %}
          </div>
      </div>    
  </section>
{% endblock %} 