{% extends 'ProyectoApp/directivo/directivo-dashboard.html' %}
<!--{% load static %}-->
{% block info %}

  <!-- LISTA DE AFILIADOS -->
    <div class="full-width divider-menu-h"></div>
    <div class="mdl-grid">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="text-align: center; border: 3.5px outset #cca300; border-radius: 15px; text-align: center; background: rgb(2,0,36); background: linear-gradient(-15deg, rgba(145,145,175,1) 0%, rgba(2, 88, 149, 1) 5%, rgba(230, 0, 0, 1) 100%)">
        <!-- ROJO #e60000 rgba(230, 0, 0, 1) -->
        <!-- AZÚL #025895 rgba(2, 88, 149, 1)-->
         <h7 style="text-align: center; color: #ffcc00;"><strong> LISTA DE COLEGIADOS CON DEUDAS </strong></h7>            
      </div>
      <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop" style="overflow-x:auto;">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric" style="text-align: center;">MATRÍCULA</th>
              <th style="text-align: center;">ESTADO</th>
              <th style="text-align: center;">NOMBRE</th>
              <th style="text-align: center;">FACT. EMITIDAS</th>
              <th style="text-align: center;">FACT. PAGADAS</th>
              <th style="text-align: center;">FACT. VENCIDAS</th>
              <th style="text-align: center;">MONTO DEUDA (Bs.)</th>
              <th style="text-align: center;">VER KARDEX</th>
              <th style="text-align: center;">DETALLES AFIL.</th>
            </tr>
          </thead>
          <tbody>
            <tr> 
              {% for afiliado in afiliados_deudas %} 
              
                <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">{{afiliado.user_filt.matricula}}</td>
                {% if afiliado.user_filt.estado_usuario == True %}
                  <td style="text-align: center;">ACTIVO</td>
                {% elif afiliado.user_filt.estado_usuario == False %}
                  <td style="text-align: center;">INACTIVO</td>
                {% endif %}
                <td style="text-align: center;">{{afiliado.user_filt.apell_pat | upper}} {{afiliado.user_filt.apell_mat | upper}} {{afiliado.user_filt.first_name | upper}}</td>
                <td style="text-align: center;">{{afiliado.fact_emitidas}}</td>
                <td style="text-align: center;">{{afiliado.fact_pagadas}}</td>
                <td style="text-align: center;">{{afiliado.fact_vencidas}}</td>
                <td style="text-align: center;">{{afiliado.deuda}}</td>
                <td style="text-align: center;" title="Ver kardex"><a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="{% url 'directivo-ver-kardex' user_log.username afiliado.user_filt.username %}"><i class="fa fa-file-text" aria-hidden="true"></i></button></td>
                <td style="text-align: center;" title="Ver detalles del colegiado"><a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="{% url 'directivo-ver-usuario' user_log afiliado.user_filt.username %}"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
                
            </tr>
              {% endfor %}
            <tr> 
              
                <td class="mdl-data-table__cell--non-numeric" style="text-align: center; background-color: silver;">-</td>
                <td style="text-align: center; background-color: silver;"><strong>-</strong></td>
                <td style="text-align: center; background-color: silver;"><strong>-</strong></td>
                <td style="text-align: center; background-color: silver;"><strong>TOTAL: {{fact_emit_total}} </strong></td>
                <td style="text-align: center; background-color: silver;"><strong>TOTAL: {{fact_paga_total}}</strong></td>
                <td style="text-align: center; background-color: silver;"><strong>TOTAL: {{fact_venc_total}}</strong></td>
                <td style="text-align: center; background-color: silver;"><strong>TOTAL: {{deuda_total}}</strong></td>
                <td style="text-align: center; background-color: silver;">-</td>
                <td style="text-align: center; background-color: silver;">-</td>
                
            </tr>
              
          </tbody>
        </table>
      </div>

      <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop" >

        <div style="text-align: center; padding-top: 15px;">
          <a href="{% url 'exportar-afiliados-deudores' user_log.username %}" class="section-btn2 btn btn-default smoothScroll">Exportar historial a PDF</a>
        </div>
     
      </div>

  </section>
{% endblock %} 