{% extends 'ProyectoApp/directivo/directivo-dashboard.html' %}
<!--{% load static %}-->
{% block info %}
  
  {% include 'ProyectoApp/messages.html' %}

  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
        <a href="#tabNewClient" class="mdl-tabs__tab is-active">Registrar Colegiado</a>
      </div>
      <div class="mdl-tabs__panel is-active" id="tabNewClient">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
            <div class="full-width panel mdl-shadow--2dp">
              <div class="full-width panel-tittle bg-primary text-center tittles" style="text-align: center; border: 3.5px outset #cca300; border-radius: 15px; text-align: center; background: rgb(2,0,36); background: linear-gradient(-15deg, rgba(145,145,175,1) 0%, rgba(2, 88, 149, 1) 5%, rgba(230, 0, 0, 1) 100%)">
                Seleccione el tipo de Colegiado
              </div>
              <div class="full-width panel-content" style="text-align: center;">
                
                <li style="list-style:none;">
                              
                    <div>
                      <a href="{% url 'directivo-registrar-afiliado' user_log.username %}" class="section-btn2 btn btn-default smoothScroll"> Colegiado nuevo en ICAP </a>
                    </div>

                    <br>

                    <div>
                      <a href="{% url 'directivo-registrar-afiliado-antiguo' user_log.username %}" class="section-btn2 btn btn-default smoothScroll"> Colegiado con historial anterior en ICAP </a>
                    </div>

                    <br>

                    <button type="button" onclick="cancelar()" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-registrar#" title="Cancelar" style="color: red;">
                          <i class="fa fa-ban" aria-hidden="true"></i>
                    </button>

                </li>
          
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>

  <script>
  function cancelar() {
    window.location="{% url 'directivo-dashboard' user_log.username %}";
  }
  </script>

{% endblock %} 