{% extends 'ProyectoApp/directivo/directivo-dashboard.html' %}
<!--{% load static %}-->
{% block info %}

  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
        <a href="#tabNewClient" class="mdl-tabs__tab is-active">Modificar</a>
      </div>
      <div class="mdl-tabs__panel is-active" id="tabNewClient">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
            <div class="full-width panel mdl-shadow--2dp">
              <div class="full-width panel-tittle bg-primary text-center tittles" style="text-align: center; border: 3.5px outset #cca300; border-radius: 15px; text-align: center; background: rgb(2,0,36); background: linear-gradient(-15deg, rgba(145,145,175,1) 0%, rgba(2, 88, 149, 1) 5%, rgba(230, 0, 0, 1) 100%)">
                Formulario para modificar mis datos
              </div>
              <div class="full-width panel-content">
                
                {% include 'ProyectoApp/messages.html' %}

                <form method="post" action="">
                {% csrf_token%}
                  <h5 class="text-condensedLight" style="text-align: center;">Datos</h5>
                  
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.first_name}}
                    <label class="mdl-textfield__label" for="DNIClient">Nombres</label> 
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.apell_pat}}
                    <label class="mdl-textfield__label" for="DNIClient">Apellido paterno</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.apell_mat}}
                    <label class="mdl-textfield__label" for="DNIClient">Apellido materno</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.lugar_nac}}
                    <label class="mdl-textfield__label" for="DNIClient">Lugar de nacimiento</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.fecha_nac}}
                    <label class="mdl-textfield__label" for="DNIClient">Fecha de nacimiento</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.ci}}
                    <label class="mdl-textfield__label" for="emailClient">N° de Carnét de Identidad</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.num_ruc}}
                    <label class="mdl-textfield__label" for="emailClient">N° de RUC</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.est_civil}}
                    <label class="mdl-textfield__label" for="emailClient">Estado civil</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.univ_estud}}
                    <label class="mdl-textfield__label" for="emailClient">Universidad de Estudio</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.fecha_tg}}
                    <label class="mdl-textfield__label" for="emailClient">Fecha de Tesís o Grado</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.univ_lic}}
                    <label class="mdl-textfield__label" for="emailClient">Universidad que otorgó la Licenciatura</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    La Universidad que le ha otorgado el grado de licenciatura es una: {{form.ent_pub}}
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.fecha_ol}}
                    <label class="mdl-textfield__label" for="emailClient">Fecha en que se le otorgó al Licenciatura</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.fecha_tit_pn}}
                    <label class="mdl-textfield__label" for="emailClient">Fecha de título de Provisión Nacional</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.cargos_judic}}
                    <label class="mdl-textfield__label" for="emailClient">Cargos desempeñados en el ramo Judicial</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.cargos_admin_pub}}
                    <label class="mdl-textfield__label" for="emailClient">Cargos desempeñados en la Administración Pública</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.cargos_priv_otras}}
                    <label class="mdl-textfield__label" for="emailClient">Cargos en Empresas privadas y otras instituciones</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.tiempo_ejec_prof_sd}}
                    <label class="mdl-textfield__label" for="emailClient">Tiempo de ejecución profesional sin dependencia (Bufete)</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.cargo_actual}}
                    <label class="mdl-textfield__label" for="emailClient">Cargo que desempeña actualmente</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.prod_jur}}
                    <label class="mdl-textfield__label" for="emailClient">Producciones jurídicas (Libros, Revistas, Artículos, entre otras)</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.ejer_cated}}
                    <label class="mdl-textfield__label" for="emailClient">Ejercicio en la Cátedra</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.estud_espec}}
                    <label class="mdl-textfield__label" for="emailClient">Estudios de especialización</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.recon_obt}}
                    <label class="mdl-textfield__label" for="emailClient">Reconocimientos obtenidos</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.asist_event_inter}}
                    <label class="mdl-textfield__label" for="emailClient">Asistencia a eventos internacionales</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.inst_aseg}}
                    <label class="mdl-textfield__label" for="emailClient">Instituciones donde se haya asegurado</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.beneficiarios}}
                    <label class="mdl-textfield__label" for="emailClient">Beneficiarios</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.espec_ejer_der}}
                    <label class="mdl-textfield__label" for="emailClient">Especialidad en el ejercicio del Derecho</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.direc_ofic}}
                    <label class="mdl-textfield__label" for="emailClient">Dirección oficina</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.tel_ofic}}
                    <label class="mdl-textfield__label" for="emailClient">Teléfono oficina</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.direcc}}
                    <label class="mdl-textfield__label" for="emailClient">Dirección domicilio</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.telefono}}
                    <label class="mdl-textfield__label" for="emailClient">Teléfono domicilio</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.celular}}
                    <label class="mdl-textfield__label" for="emailClient">Celular</label>
                  </div>
                  
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{form.email}}
                    <label class="mdl-textfield__label" for="emailClient">Email</label>
                  </div>
                  
                  <div style="text-align: center;">
                    
                    <div class="btn-group" role="group" aria-label="...">
                        
                        <button type="button" onclick="cancelar()" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-registrar#" title="Cancelar" style="color: red;">
                          <i class="fa fa-ban" aria-hidden="true"></i>
                        </button>
                        
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addClient">
                      <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                    </button>
                    <div class="mdl-tooltip" for="btn-addClient">Actualizar</div>
                      
                    </div>
                  
                  </div>
                             
                </form>
              
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>

  <script>
  function cancelar() {
    window.location="{% url 'directivo-dashboard' user_log.username %}";
  }
  </script>

{% endblock %} 