{% extends 'ProyectoApp/directivo/directivo-dashboard.html' %}
{% load static %}
{% block info %}

  <!-- LISTA DE RECAUDADORES -->
    <div class="full-width divider-menu-h"></div>
    <div class="mdl-grid">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="text-align: center; border: 3.5px outset #cca300; border-radius: 15px; text-align: center; background: rgb(2,0,36); background: linear-gradient(-15deg, rgba(145,145,175,1) 0%, rgba(2, 88, 149, 1) 5%, rgba(230, 0, 0, 1) 100%)">
        <!-- ROJO #e60000 rgba(230, 0, 0, 1) -->
        <!-- AZÚL #025895 rgba(2, 88, 149, 1)-->
         <h7 style="text-align: center; color: #ffcc00;"><strong> HISTORIAL DE APORTES MENSUALES DE {{recaudador.username | upper}} </strong></h7> <br>
         <h7 style="text-align: center; color: #ffcc00;"><strong>Nombre: {{recaudador.apell_pat | upper}} {{recaudador.apell_mat | upper}} {{recaudador.first_name | upper}}</strong></h7> <br>
         <!-- <h7 style="text-align: center; color: #ffcc00;"><strong> Matrícula ICAP: {{recaudador.matricula}} </strong></h7> <br>-->
         <h7 style="text-align: center; color: #ffcc00;"><strong> C.I.: {{recaudador.ci}} </strong></h7> <br>
         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="text-align: center;">
            {% if not recaudador.foto %}
              <img class="dashboard" src="{% static 'ProyectoApp/img/foto-estandar.jpg' %}">
            {% elif recaudador.foto %}
              <img class="dashboard" src="{{recaudador.foto.url}}">
            {% endif %}
         </div>
         
         {% if recaudador.estado_usuario == True %}
          <h7 style="text-align: center; color: #ffcc00;"><strong> RECAUDADOR ACTIVO </strong></h7>
         {% elif recaudador.estado_usuario == False %}
          <h7 style="text-align: center; color: #ffcc00;"><strong> RECAUDADOR INACTIVO </strong></h7>
          {% endif %}
      </div>
      <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop" style="overflow-x:auto;">
        {% include 'ProyectoApp/messages.html' %}
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric" style="text-align: center;">DETALLES</th>
              <th style="text-align: center;">N° COMPROBANTE</th>
              <th style="text-align: center;">TALONARIO</th>
              <th style="text-align: center;">N° RECIBO</th>
              <th style="text-align: center;">MES PAGADO</th>
              <th style="text-align: center;">FECHA DE PAGO</th>
              <th style="text-align: center;">NOMBRE DEL COLEGIADO</th>
              <th style="text-align: center;">ESTADO DEL COLEGIADO</th>
            </tr>
          </thead>
          <tbody>
            <tr> 
              {% for cobro in historial %} 
              <!-- FILAS n -->
              <td style="text-align: center;" title="Detalles de operación"><a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="{% url 'directivo-detalles' user_log cobro.comprobante %}"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
               <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">{{cobro.comprobante}}</td>
               <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">{{cobro.talonario}}</td>
               <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">{{cobro.numero_recibo}}</td>
               <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">{{cobro.fecha_id_pago.agno}}-{{cobro.fecha_id_pago.mes_abreviado}}</td>
               <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">{{cobro.fecha_pago}}</td>
               <td style="text-align: center;">{{cobro.afiliado.apell_pat | upper}} {{afiliado.apell_mat | upper}} {{cobro.afiliado.first_name | upper}} </td>

               {% if cobro.afiliado.estado_usuario == True %}
                <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">ACTIVO</td>
               {% elif cobro.afiliado.estado_usuario == False %}
                <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">INACTIVO</td>
               {% endif %}
            </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      
      <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop" >

        <div style="text-align: center; padding-top: 15px;">
          
          <div>
            <h7> <strong> Cantidad de cobros realizados: {{cant_cobros}}</h7> </strong>
          </div>

          <div>
            <h7> <strong> Cantidad de dinero recaudado ({{cant_cobros}}x{{monto_unit}} Bs.): {{monto}} Bs.</h7> </strong>
          <div>

          {% if tam == 'AMU' and th == 'TOTAL' %}

            <div style="text-align: center; padding-top: 15px;">

              <div class="btn-group-vertical" role="group" aria-label="...">

                  <li style="list-style:none;">
                      <div class="btn-group" role="group" aria-label="...">
                        
                        <div>
                          <a href="{% url 'directivo-enviar-historial-recaud' user_log recaudador th 'AMU' None None None %}" class="section-btn2 btn btn-default smoothScroll"> Enviar historial a {{recaudador.apell_pat | upper}} {{recaudador.apell_mat | upper}} {{recaudador.first_name | upper}} <i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                        </div>

                        <br>

                        <div>
                          <a href="{% url 'directivo-exp-historial-recaud' user_log recaudador 'AMU' None None None %}" class="section-btn2 btn btn-default smoothScroll"> Exportar historial a PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                        </div>

                        <br>

                      </div>

                  </li>

              </div>

            </div>

          {% elif tam == 'AMU' and th == 'MES' %}

            <div style="text-align: center; padding-top: 15px;">

              <div class="btn-group-vertical" role="group" aria-label="...">

                  <li style="list-style:none;">
                      <div class="btn-group" role="group" aria-label="...">
                        
                        <div>
                          <a href="{% url 'directivo-enviar-historial-recaud' user_log recaudador th 'AMU' True None None %}" class="section-btn2 btn btn-default smoothScroll"> Enviar historial a {{recaudador.apell_pat | upper}} {{recaudador.apell_mat | upper}} {{recaudador.first_name | upper}} <i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                        </div>

                        <br>

                        <div>
                          <a href="{% url 'directivo-exp-historial-recaud' user_log recaudador 'AMU' True None None %}" class="section-btn2 btn btn-default smoothScroll"> Exportar historial a PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                        </div>

                        <br>

                      </div>

                  </li>

              </div>

            </div>

          {% elif tam == 'AMU' and th == 'FECHAS' %}

            <div style="text-align: center; padding-top: 15px;">

              <div class="btn-group-vertical" role="group" aria-label="...">

                  <li style="list-style:none;">
                      <div class="btn-group" role="group" aria-label="...">
                        
                        <div>
                          <a href="{% url 'directivo-enviar-historial-recaud' user_log recaudador th 'AMU' None start_date end_date %}" class="section-btn2 btn btn-default smoothScroll"> Enviar historial a {{recaudador.apell_pat | upper}} {{recaudador.apell_mat | upper}} {{recaudador.first_name | upper}} <i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                        </div>

                        <br>

                        <div>
                          <a href="{% url 'directivo-exp-historial-recaud' user_log recaudador 'AMU' None start_date end_date %}" class="section-btn2 btn btn-default smoothScroll"> Exportar historial a PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                        </div>

                        <br>

                      </div>

                  </li>

              </div>

            </div>

            {% elif tam == 'AMI' and th == 'TOTAL' %}

            <div style="text-align: center; padding-top: 15px;">

              <div class="btn-group-vertical" role="group" aria-label="...">

                  <li style="list-style:none;">
                      <div class="btn-group" role="group" aria-label="...">
                        
                        <div>
                          <a href="{% url 'directivo-enviar-historial-recaud' user_log recaudador th 'AMI' None None None %}" class="section-btn2 btn btn-default smoothScroll"> Enviar historial a {{recaudador.apell_pat | upper}} {{recaudador.apell_mat | upper}} {{recaudador.first_name | upper}} <i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                        </div>

                        <br>

                        <div>
                          <a href="{% url 'directivo-exp-historial-recaud' user_log recaudador 'AMI' None None None %}" class="section-btn2 btn btn-default smoothScroll"> Exportar historial a PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                        </div>

                        <br>

                      </div>

                  </li>

              </div>

            </div>

            {% elif tam == 'AMI' and th == 'MES' %}

              <div style="text-align: center; padding-top: 15px;">

                <div class="btn-group-vertical" role="group" aria-label="...">

                    <li style="list-style:none;">
                        <div class="btn-group" role="group" aria-label="...">
                          
                          <div>
                            <a href="{% url 'directivo-enviar-historial-recaud' user_log recaudador th 'AMI' True None None %}" class="section-btn2 btn btn-default smoothScroll"> Enviar historial a {{recaudador.apell_pat | upper}} {{recaudador.apell_mat | upper}} {{recaudador.first_name | upper}} <i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                          </div>

                        <br>

                          <div>
                            <a href="{% url 'directivo-exp-historial-recaud' user_log recaudador 'AMI' True None None %}" class="section-btn2 btn btn-default smoothScroll"> Exportar historial a PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                          </div>

                        <br>

                        </div>

                    </li>

                </div>

              </div>

            {% elif tam == 'AMI' and th == 'FECHAS' %}

              <div style="text-align: center; padding-top: 15px;">

                <div class="btn-group-vertical" role="group" aria-label="...">

                    <li style="list-style:none;">
                        <div class="btn-group" role="group" aria-label="...">
                          
                          <div>
                            <a href="{% url 'directivo-enviar-historial-recaud' user_log recaudador th 'AMI' None start_date end_date %}" class="section-btn2 btn btn-default smoothScroll"> Enviar historial a {{recaudador.apell_pat | upper}} {{recaudador.apell_mat | upper}} {{recaudador.first_name | upper}} <i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                          </div>

                        <br>

                          <div>
                            <a href="{% url 'directivo-exp-historial-recaud' user_log recaudador 'AMI' None start_date end_date %}" class="section-btn2 btn btn-default smoothScroll"> Exportar historial a PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                          </div>

                        <br>

                        </div>

                    </li>

                </div>

              </div>

            {% endif %}
        
        </div>
          
          <!-- PAGINACIÓN-->
          <div class="pagination-tutorial">
          {% if historial.has_previous %}
            <a class="pagination-tutorial-action" href="?page=1">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            <a class="pagination-tutorial-action" href="?page={{historial.previous_page_number}}">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
          {% endif %}
          {% for num in historial.paginator.page_range %}
            {% if historial.number == num %}
              <span class="pagination-tutorial-number pagination-tutorial-current">{{num}}</span>
            {% elif num > historial.number|add:'-3' and num < historial.number|add:'3' %}
              <a class="pagination-number" href="?page={{num}}">{{num}}</a>
            {% endif %}
          {% endfor %}
          {% if historial.has_next %}
            <a class="pagination-tutorial-action" href="?page={{historial.next_page_number}}">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
            <a class="pagination-tutorial-action" href="?page={{historial.paginator.num_pages}}">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
          {% endif %}
          </div>
      </div>    
  </section>
{% endblock %} 