{% extends 'ProyectoApp/directivo/directivo-dashboard.html' %}
<!--{% load static %}-->
{% block info %}

  <!-- LISTA DE USUARIOS -->
    
    <div class="full-width divider-menu-h"></div>
    <div class="mdl-grid">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="text-align: center; border: 3.5px outset #cca300; border-radius: 15px; text-align: center; background: rgb(2,0,36); background: linear-gradient(-15deg, rgba(145,145,175,1) 0%, rgba(2, 88, 149, 1) 5%, rgba(230, 0, 0, 1) 100%)">
        <!-- ROJO #e60000 rgba(230, 0, 0, 1) -->
        <!-- AZÚL #025895 rgba(2, 88, 149, 1)-->
         <h7 style="text-align: center; color: #ffcc00;"><strong> INFORMACIÓN DE {{usuario.username | upper}} </strong></h7>            
      </div>
      <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop" style="overflow-x:auto;">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric" style="text-align: center;">MATRÍCULA</th>
              <th style="text-align: center;">CI</th>
              <th style="text-align: center;">DETALLES</th>
              <th style="text-align: center;">NOMBRE</th>
              <th style="text-align: center;">ESTADO</th>
              <th style="text-align: center;">FECHA MATRICULACIÓN</th>
              <th style="text-align: center;">VER KARDEX</th>
              <th style="text-align: center;">IMP. KARDEX</th>
              <th style="text-align: center;">ACTUALIZAR</th>
            </tr>
          </thead>
          <tbody>
            <tr> 
              <!-- FILAS n -->
              <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">
                {{usuario.matricula}}
              </td>
              <td style="text-align: center;">{{usuario.ci}}</td>
              <td style="text-align: center;" title="Ver detalles del usuario"><a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="{% url 'directivo-ver-usuario' user_log usuario.username %}"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
              <td style="text-align: center;">{{usuario.apell_pat | upper}} {{usuario.apell_mat | upper}} {{usuario.first_name | upper}}</td>
              {% if usuario.estado_usuario == True %}

                <td style="text-align: center;">ACTIVO</td>
              {% elif usuario.estado_usuario == False %}

                <td style="text-align: center;">INACTIVO</td>

              {% endif %}
                
              <td style="text-align: center;">{{usuario.fecha_registro}}</td>
              <td style="text-align: center;" title="Ver kardex"><a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="{% url 'directivo-ver-kardex' user_log.username usuario.username %}"><i class="fa fa-file-text" aria-hidden="true"></i></button></td>
              <td style="text-align: center;" title="Imprimir kardex"><a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="{% url 'imprimir-kardex' usuario.username %}"><i class="fa fa-print" aria-hidden="true"></i></button></td>
              <td style="text-align: center;" title="Actualizar sus datos"><a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="{% url 'directivo-act-datos' user_log usuario.username %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>

          </tbody>
        </table>
      </div>
  </section>
{% endblock %} 