{% extends 'ProyectoApp/directivo/directivo-dashboard.html' %}
<!--{% load static %}-->
{% block info %}

  <!-- LISTA DE USUARIOS -->
    <div class="full-width divider-menu-h"></div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
      	<h5 style="color: green;"> <strong>DETALLES DE LA OPERACIÓN</h5> </strong>
        
        <p><strong style="color: red;">RECAUDADOR NOMBRE DE USUARIO:</strong> {{info.recaudador.apell_pat}} {{info.recaudador.first_name}} </p>
        <p><strong style="color: red;">RECAUDADOR CI:</strong> {{user_log.ci}} </p>


        <p><strong style="color: red;">COLEGIADO NOMBRE DE USUARIO:</strong> {{info.afiliado.apell_pat}} {{info.afiliado.first_name}}  </p>
        <p><strong style="color: red;">COLEGIADO CI:</strong> {{info.afiliado.ci}} </p>
        <p><strong style="color: red;">COLEGIADO MATRÍCULA:</strong> {{info.afiliado.matricula}} </p>

        <p><strong>FECHA DE COBRO:</strong> {{info.fecha_pago}}</p>
        <p><strong>MES PAGADO:</strong> {{info.fecha_id_pago.agno}}-{{info.fecha_id_pago.nombre_mes}}</p>
        <p><strong>COMPROBANTE DE COBRO:</strong> {{info.comprobante}}</p>
        <p><strong>TALONARIO DE COBRO:</strong> {{info.talonario}}</p>
        <p><strong>NUMERO DE RECIBO DE COBRO:</strong> {{info.numero_recibo}}</p>
     

        {% if info.aporte_dona_afil != '0' %}
          <p><strong>MONTO:</strong> {{info.aporte_dona_afil}} Bs. (Aporte por donación)</p>

        {% elif info.aporte_certif_afil.aporte_certificacion_deno == 'CERTIFICADO' %}
          <p><strong>MONTO:</strong> {{info.aporte_certif_afil.aporte_certificacion}} Bs. (Aporte por certificación)</p>

        {% elif info.aporte_mensual_afil.aporte_mensual_deno == 'AMU' %}
          <p><strong>MONTO:</strong> {{info.aporte_mensual_afil.aporte_mensual}} Bs. (Aporte mensual)</p>

        {% elif info.aporte_mensual_afil.aporte_mensual_deno == 'AMI' %}
          <p><strong>MONTO:</strong> {{info.aporte_mensual_afil.aporte_mensual}} Bs. (Aporte mensual)</p>

        {% endif %}
        
        <hr>

        <div class="btn-group-vertical" role="group" aria-label="...">

          <li style="list-style:none;">
              
              <div>
                <a href="{% url 'generar-pdf' info.comprobante %}" class="section-btn2 btn btn-default smoothScroll"> IMPRIMIR COMPROBANTE <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
              </div>

          </li>

          <br>

          <li style="list-style:none;">
            
            <div>
                <a href="{% url 'enviar-comprobante' info.comprobante %}" class="section-btn2 btn btn-default smoothScroll"> Enviar al correo del colegiado <i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            </div>

          </li>
          
          <br>
          
          <li class="btn-delete" id="btn-delete" style="list-style:none">
            
            <div>
                <a type="button" id="btn-delete" class="section-btn2 btn btn-default smoothScroll" style="background-color: #e60000;"> Eliminar aporte <i class="fa fa-trash" aria-hidden="true"></i></a>
            </div>

          </li>

        </div>
        
      </div>
    </div>
          
  </section>

<!-- SCRIPTS -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <script>
    $(document).ready(function(){
      $('.btn-delete').on('click', function(){
        swal({
          title: '¿Estás seguro (a) de querer eliminar?',
          text: "Se borrará el aporte con comprobante: {{info.comprobante}} en ICAP",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Sí, estoy seguro (a)',
          cancelButtonText: 'Cancelar',
          closeOnConfirm: false
      },
      function(isConfirm) {
          if (isConfirm) {
            window.location="{% url 'eliminar-aporte' user_log info.comprobante %}"; 
          }
      });
      });
    });
  </script>

{% endblock %} 